<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

  <title>1.1 Learning is Pleasurable</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/stickyfooter.css">
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>1.1 Learning is Pleasurable</h1>
        <h2><small>배우면 모든 것이 즐겁다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#indiana" aria-expanded="false" aria-controls="collapseExample">
            Indiana Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「學而時習之，不亦說乎？有朋自遠方來，不亦樂乎？人不知而不慍，不亦君子乎？」
            </div>
          </div>
          <div class="collapse" id="indiana">
            <div class="well">
              The Master said: To study and at due
              times practice what one has studied, is this not
              a pleasure? When friends come from distant
              places, is this not joy? To remain unsoured
              when his talents are unrecognized, is this not a
              junzi?
            </div>
          </div>
          <div class="well">
            <p>
              Isn't it a pleasure to study and practice what you have learned? Isn't it also great when friends visit from distant places? If people do not recognize my virtues and it doesn't bother me, am I not a noble man?
            </p>
          </div>
          <p>
            In this passage, to learn means to ‘follow the example of’ or ‘to take the pattern of another’, and therefore is not limited to the education one might receive in school or the training one might receive for employment. Throughout life, one must ‘learn’ from others qualities or virtues they may lack themselves, whether it be their superiors, role models or friends. One must also not shy away from learning, even from those who are of lower social class, such as one’s own students or employees. One must also never fake knowledge. To pretend they are knowledgeable of something that they are ignorant of for any reason means to proudly boast one’s ignorance. 
          </p>
          <p>
            Learning is a continuous process that requires constant practice of what one has studied. No matter which branch of society one may find oneself in, if one does not strive to constantly learn more and practice what they have learned, the knowledge will never be absorbed and one will not be able to succeed.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li class="previous"><a href="/1"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Chapter 1 - "On Learning" </a></li>
          <li class="next"><a href="/1/2">1.2 Affection is Foundational <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>