<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>1.1 Learning is Pleasurable</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Tell me and I forget. Teach me and I remember. Involve me and I learn."</i><footer><a href="https://en.wikipedia.org/wiki/Benjamin_Franklin">Benjamin Franklin</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.1 Learning is Pleasurable</h1>
        <h2><small>배우면 모든 것이 즐겁다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「學而時習之，不亦說乎？有朋自遠方來，不亦樂乎？人不知而不慍，不亦君子乎？」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: To study and at due
              times practice what one has studied, is this not
              a pleasure? When friends come from distant
              places, is this not joy? To remain unsoured
              when his talents are unrecognized, is this not a
              junzi?
            </div>
          </div>
          <div class="well">
            <p>
              It’s a pleasure to study and practice what you have learned.  It's also a pleasurable occasion when friends from far away places come to visit. If one is unaffected by others not recognizing their talents or insights, they are to be considered noble.
            </p>
          </div>
          <p>
            In this passage, to learn means to 'follow the example of' or 'to take on the qualities of another', and is therefore not limited to the education or training one might receive in school or for employment. Throughout life, one must intelligently learn and absorb the qualities of those around them, whether they may be their superiors, role models, friends, and also those perhaps considered to be lower in society, such as one’s own students or employees. 
          </p>
          <p>
            Learning is a continuous process that requires the constant application of what one has studied. If one does not strive to constantly experience more of the world and put into use what they have discovered, the knowledge will never be absorbed, and therefore not able to be recalled later when needed.
          </p>
          <p>
            Friends visiting from far away places are joyous occasions because there will be much to hear from them about their travels. In Confucius’ times, you learned most of other cultures and foreign states from the few tales told by travellers, or by visiting them yourself. Fortunately in today’s times with the Internet, we have access to many great sources for information and enlightenment - making ignorance a choice, not a predicament.
          </p>
          <p>
            Finally, we are to consider a scenario in which perhaps our own talents or virtues were not recognized. There are many forms of non-recognition. Perhaps there was simply no opportunity for the talent to be revealed or made known, or perhaps there was a misunderstanding of intentions. No matter the case, if one is self-assured in the skills they know they possess, they will not long for other people to recognize those qualities. Being able to be more insightful or skillful than one’s peers is a true blessing, and a combination of many factors that are often out of people’s control, which therefore makes it nothing to gloat about. Others you meet later in life who are truly insightful will recognize your genuineness, while your friends will come to know of them eventually.
          </p>
          <p>
            What does it mean to be noble? Part of it means to be graceful and considerate with what you know you possess. It means that you are guided by benevolence and in the good interests of everyone involved, and not just motivated by your own insecurity or greed.
          </p>
          <p>
            <a href="https://en.wikipedia.org/wiki/Countersignaling"><span class="glyphicon glyphicon-link"></span> Countersignaling</a>
          </p>
          <h3>Further Commentary</h3>
          <p>
            The primal need to express your interests is clearly evident in human nature. Consider a typical Facebook profile page, and why many people choose to partake in social media in the first place. 
          </p>
          <p>
            People who are deeply knowledgeable about a certain TV show or movie franchise love to display their fandom when given the chance. On occasion, an interest or obsession can become too great and start to either annoy others or get to a point where it negatively consumes one’s life. But what if an interest that you held was common to everyone else’s’ well being as well? For example, if you were extremely studious and conscientious, you would not only help yourself by being able to get a good job and everything that comes with it, but also benefit society as a whole, because society depends on educated, conscientious workers to advance. Likewise, if you were deeply considered with living ethically and strived to do so, you would clearly benefit your society much more positively than someone who lived recklessly and without the considerations of other parties.
          </p>
          <p>
            When human beings share articles that they've read, express opinions on topics they've thought about, or publish long essays about how they feel, there is definitely a ‘vain’ motivation involved, in the form of self-promotion and attention seeking. But we should be cautious to not overlook the genuine sentiment behind their expression, that if others learned more about those opinions or interests that they presented, the world would be a better place.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.1 Learning is Pleasurable</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Chapter 1 - "On Learning" </a></li>
          <li class="next"><a href="/1/2">1.2 Virtues are based on Foundations <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>
  <% include ../common/footerincludes.ejs %>
</body>
</html>