<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.10 Gathering Information</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"No act of kindness, no matter how small, is ever wasted."</i><footer><a href="https://en.wikipedia.org/wiki/Aesop">Aesop</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.10 Gathering Information</h1>
        <h2><small>정보를 얻는 방법</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子禽問於子貢曰：「夫子至於是邦也，必聞其政，求之與？抑與之與？」子貢曰：「夫子溫、良、恭、儉、讓以得之。夫子之求之也，其諸異乎人之求之與？」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Ziqin asked Zigong, “When our Master travels to a state, he always learns the affairs of its government. Does he seek out the information, or do people give it to him of their own accord?”
              Zigong said, “Our Master obtains this information by being friendly, straightforward, reverential, frugal, and modest. The way our Master seeks things is different from the way others do!”
            </div>
          </div>
          <div class="well">
            <p>
              Ziqin asked Zigong, "When Confucius arrives at a foreign state, he always learns everything about its government. Does he seek this information, or is it given to him?"
            </p>
            <p>
              Zigong replied, "Confucius gets it by being warm, kind, courteous, frugal, and humble. His way of getting information is different from that of other men."
            </p>
          </div>
          <p>
            The essence of this passage is that many of the good things in life will come free and easy if you are able to be well liked by others. The most important skill for any salesman is to be able to be liked by the buyer after all.
          </p>
          <p>
            How does one become liked by others? Not by feigning friendliness or trying to adjust your behaviour to manipulate them, but by being genuinely:
          </p>
          <ol>
            <li>Warm (온화 / 溫): being softspoken and gentle</li>
            <li>Kind (어질 / 良): being charitable and compassionate</li>
            <li>Courteous (공손 / 恭): recognizing the importance of manners and existing norms</li>
            <li>Frugal (검소 / 儉): maintaining a simple and minimalistic lifestyle</li>
            <li>Humble (겸양 / 讓): being humble and concessive</li>
          </ol>
          <p>
            Kindness is a logical action that maximizes good for all.
          </p>
          <h3>Further Commentary</h3>
          <p>
            Jigong, the person who is replying to the question in this passage, was a disciple well-liked and cared for by Confucius. He was 31 years younger, and one of the most famous out of the disciples. Well-known for his eloquent speech, he also had great insight into the future by having a good judgement of reality. 
          </p>
          <p>
            He was able to use his gifts well to serve as a high official in serveral states, and was able to make a fortune in business.  
          </p>
          <p>
            Many interactions between Jigong and Confucius have been recorded, leading many to believe that he was one of his favorite disciples. Extremely gifted and quick-witted, but not yet complete in terms of morals. Jigong was also very self aware of his limitations, hinting at critical self-reflection, a quality Confucius loved. 
          </p>
          <p>
            Ziqin, the inquirer in the passage, did not perceive Confucius to be all that outstanding, and rather perceived his direct teacher, Zigong, to be more capable due to his greater wealth and political success.
          </p>
          <p>
            Nonetheless, Zigong and Confucius surely mutually benefited from this relationship, as Confucius provided Zigong with worldly insight, and Zigong donated lots of his money to his master. 
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
          <img class="img-responsive" src="/images/zigong.jpg">
          Zigong
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.10 Gathering Information</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/9"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.9 Funeral Rites</a></li>
          <li class="next"><a href="/1/11">1.11 Respect for Parents <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>