<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.11 Respect for Parents</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Parents are the ultimate role models for children. Every word, movement and action has an effect. No other person or outside force has a greater influence on a child than the parent."</i><footer><a href="https://en.wikipedia.org/wiki/Bob_Keeshan">Bob Keeshan</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.11 Respect for Parents</h1>
        <h2><small>어버이에 대한 효도</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「父在，觀其志；父沒，觀其行；三年無改於父之道，可謂孝矣。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: When the father is alive, observe the son's intent. When the father dies, observe the son's conduct. One who does not alter his late father's <i>dao</i> for three years may be called filial.
            </div>
          </div>
          <div class="well">
            <p>
              While the parents are alive, follow their intent. Once the parents die, observe their former actions. If for three years there is no deviation from the actions and lessons imparted by the parents, they have done well in their duties as the child.
            </p>
          </div>
          <p>
            The best way for a child to fufill their duties to their parents are to respect them. The second best way is to behave rightly so the parents will never be insulted by others. The 'lowest' way is to offer money or other worldly comforts to them. According to Confucian philosophy, a child isn't doing their duties for the parent by just providing them with bodily pleasures if they will not embrace their deeper intents and hopes.
          </p>
          <p>
            <strike>But what if the intents of the parents do not align with ethical virtues?</strike>
          </p>
          <h3>Further Commentary</h3>
          <p>
            In Asian societies, the family often takes precedence over the individual. Idealistically, this leads to a lot of acts of kindness and caring within the immediate family, and also to the extended family as well. Asian parents often make their children the sole meaning of their lives, devoting all their efforts and remaining lives to the child's well being and worldly success. To reciprocate, the children provide their parents with support and love in their senior years, making senior retirement homes a relative rariety and a bigger misfortune in these cultures.
          </p>
          <p>
            Another positive outcome of the familial expectations is that it leads to high-achieving children, especially because the 'intent' as presented in this passage often propogates in the modern world to the parents having high academic hopes for their child.
          </p>
          <p>
            <a href="http://steinhardt.nyu.edu/appsych/opus/issues/2013/fall/poon"><span class="glyphicon glyphicon-link"></span> Parental Influence on Asian American's Educational and Vocational Outcomes</a>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.11 Respect for Parents</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/10"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.10 Gathering Information</a></li>
          <li class="next"><a href="/1/12">1.12 Harmony in Propriety <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>