<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.12 Harmony in Propriety</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Observe good faith and justice toward all nations. Cultivate peace and harmony with all."</i><footer><a href="https://en.wikipedia.org/wiki/George_Washington">George Washington</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.12 Harmony in Propriety</h1>
        <h2><small>조화와 도</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              有子曰：「禮之用，和為貴。先王之道斯為美，小大由之。有所不行，知和而和，不以禮節之，亦不可行也。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Master You said: "In the practice of <i>li</i>, harmony is the key. In the <i>Dao</i> or the kings of old, this was the beauty." In all affairs, great and small, follow this. Yet there is one respect in which one does not. To act in harmony simply because one understands what is harmonious, but not to regulate one's conduct according to <i>li</i>: indeed, one cannot act in that way.
            </div>
          </div>
          <div class="well">
            <p>
              In the actual practice of propriety (tradition), harmony is important. Ancient kings did this well - they emphasized harmony in matters big and small. Yet there are occassions when this will not apply - if you understand harmony and use it, but don't structure yourself with propriety, things may not go your way.
            </p>
          </div>
          <p>
            Confucian school of thought values tradition and antiquity. The passage describes 'harmony' as a good quality to strive for in making decisions, and that tradition and propreity are worth considering to facilitate this harmony.
          </p>
          <h3>Further Commentary</h3>
          <p>
            This passage strives to explain the concept of <i>li</i>, described in English as propriety. <i>Li'</i>s basic meaning could be of "ritual" or "ceremony", essentially describing tradition.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.12 Harmony in Propriety</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/11"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.11 Respect for Parents</a></li>
          <li class="next"><a href="/1/13">1.13 To be Genuine <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>