<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.13 To be Genuine</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"All emotion is involuntary when genuine."</i><footer><a href="https://en.wikipedia.org/wiki/Mark_Twain">Mark Twain</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.13 To be Genuine</h1>
        <h2><small>신과 공의 참된 뜻을 알아라</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              有子曰：「信近於義，言可復也；恭近於禮，遠恥辱也；因不失其親，亦可宗也。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Master You said: Trustworthiness is close to righteousness: one's words are tested true. Reverence is close to <i>li</i>: it keeps shame and disgrace at a distance. One who can accord with these and not depart from his father's way - such a one may truly be revered.
            </div>
          </div>
          <div class="well">
            <p>
              It's not only important to be accountable, but also just with your words. When showing respect, do it according to traditions to save yourself from shame and disgrace. If you also have genuine affection for family, then you may become revered.
            </p>
          </div>
          <p>
            How much is one's words worth? The reputation and accountability one builds up through their words and actions is what makes someone great or insignificant.
          </p>
          <p>
            Successful businesses and negotiations are based on trust - and coming to like or favor someone is based on this trust as well. And as previously stressed, this trust stems from how much of the other person's words and actions you can take as genuine, and being bourne from the heart.
          </p>
          <p>
            When showing respect, or even affection, do it according to established norms and customs to save yourself from shame. Showing excessive displays of a positive quality such as respect can be souring, if it comes across as obsequious or overbearing. Be approperiate and judge your actions wisely to save yourself from pangs of shame and feelings of vulnerability.
          </p>
          <h3>Further Commentary</h3>
          <p>
            As with other quotes of You Ruo, this passage is very simple but worth taking to heart and considering whether these values are being practiced in one's daily interactions with others.
          </p>
          <p>
            Essentially, be accountable for your words through actions, and have the judgement to distinguish what is right and wrong. When you're showing respect, do it in a courtly and approperiate manner. If you do these things, you will foster positive, genuine relationships with people - and even build a lasting reputation for yourself.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.13 To be Genuine</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/12"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.12 Harmony in Propriety</a></li>
          <li class="next"><a href="/1/14">1.14 True Philosopher <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>