<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.14 True Philosopher</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"To become a good guardian, a man must be by nature fast, strong, and a spirited philosopher."</i><footer><a href="https://en.wikipedia.org/wiki/Plato">Plato</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.14 True Philosopher</h1>
        <h2><small>바르게 나아가라</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「君子食無求飽，居無求安，敏於事而慎於言，就有道而正焉，可謂好學也已。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: A <i>junzi</i> is not concerned that food fill his belly; he does not seek comfort in his residence. If a person is apt in conduct and cautious in speech, stays near those who keep to the <i>dao</i> and corrects himself thereby, he may be said to love learning.
            </div>
          </div>
          <div class="well">
            <p>
              <i>Junzis</i> do not eat excessively, nor do they seek perfect comfort. They are diligent in their work and careful in speech. If they stay near those who understand what is most important in life, and remind themselves of the same, they may be called true lovers of knowledge. 
            </p>
          </div>
          <p>
            A <a href="https://en.wikipedia.org/wiki/Junzi"><i><span class="glyphicon glyphicon-link"></span> junzi</i></a> in Confucian philosophy is 'the ideal person'. In this passage, Confucius narrows it down to someone who:
          </p>
          <ol>
            <li>Is willing to forgo bodily comforts</li>
            <li>Does what is needed or required</li>
            <li>Refrains from vocalizing when not approperiate</li>
            <li>Seeks to befriend others who may be noble</li>
            <li>Is relentless in self-reflection to enlighten themselves</li>
          </ol>
          <p>
            He claims that if someone lived in this way, they are those who can claim that they live life for knowledge and learning of the virtous.
          </p>
          <h3>Further Commentary</h3>
          <p>
            A Classical Greek equivalent of the <i>junzi</i> exists, outlined in the <a href="https://en.wikipedia.org/wiki/Republic_%28Plato%29"><span class="glyphicon glyphicon-link"></span> Republic</a> by <a href="https://en.wikipedia.org/wiki/Plato"><span class="glyphicon glyphicon-link"></span> Plato</a> - called the <a href="https://en.wikipedia.org/wiki/Philosopher_king"><span class="glyphicon glyphicon-link"></span> Philosopher King</a>.
          </p>
          <p>
            Many similarities exist between the <i>junzi</i> and the philsopher king, the most obvious being the terminologies - the term junzi implies the potential leader of a nation, while the philosopher king as asserted by Plato is the idealistic leader. Both terms describe ideal leadership by claiming that leaders must express superior ethical and moral strength (<a href="https://en.wikipedia.org/wiki/Ren_%28Confucianism%29"><span class="glyphicon glyphicon-link"></span> <i>Ren</i></a>). 
          </p>
          <p>
            Both strongly emphasize the value of knowledge and truth-seeking, with both ideals stating that those who are worthy of ruling must live by true knowledge rather than by worldly greed or personal desire.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.14 True Philosopher</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/13"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.13 To be Genuine</a></li>
          <li class="next"><a href="/1/15">1.15 In Poverty and in Plenty <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>