<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.15 In Poverty and in Plenty</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"The rich swell up with pride, the poor from hunger."</i><footer><a href="https://en.wikipedia.org/wiki/Sholem_Aleichem">Sholem Aleichem</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.15 In Poverty and in Plenty</h1>
        <h2><small>예를 알고 즐겨야 한다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子貢曰：「貧而無諂，富而無驕，何如？」子曰：「可也。未若貧而樂1，富而好禮者也。」子貢曰：「《詩》云：『如切如磋，如琢如磨。』其斯之謂與？」子曰：「賜也，始可與言詩已矣！告諸往而知來者。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Zigong said, "To be poor but never a flatterer; to be wealthy but never arrogant - what would you say to that?"
              <br>
              The Master said, "That's fine, but not so good as: To be poor but joyful; to be wealthy and love <i>li</i>."
              <br>
              Zigong said, "In the <i>Poetry</i> it says, '<i>As though cut, as though chiseled, As though carved, as though polished.</i>' Is this what you mean?"
              <br>
              The Master said, "Ah, Si! - I can finally begin to talk about the <i>Poetry</i> with him. I tell him what came before and he understands what is coming next."
            </div>
          </div>
          <div class="well">
            <p>
              Zigong asked, "To be poor but never grovel, and to be rich but never prideful - what would you say to this?"
              <br>
              Confucius replied, "Not bad, but not as good as: to be poor yet cultured, and to be rich yet humble."
              <br>
              Zigong said, "As written in the <i>Book of Poetry</i>, (self-perfection is difficult) as cutting (bone), filing (ivory), grinding (jade), and polishing (stone) - is this what you are talking about?"
              <br>
              Confucius said, "Zigong, I can now discuss poetry with you. I tell you of one and you understand many."
            </p>
          </div>
          <p>
            Poverty often brings out the worst in human nature as people are driven down terrible paths by desperation and insecurity. You don't have to be a beggar on the street to reveal this very human quality; poorer people are always more hesitant to tip graciously after a meal or spend money in situations that will pay themselves off in the future. Feelings of inferiority often causes lapses in judgement and leads to unethical behaviour.
          </p>
          <p>
            On the other hand, being wealthy brings out the worst in human nature as well, as many develop an overinflated ego and hypocritically blame others of laziness for situations where they may have acted similarly themselves. Likewise, feelings of unjustified superiority over others can lead to corruption of humanity and undue harshness.
          </p>
          <p>
            Confucius argues that while an active aversion to the negative qualities created from the individual's status or situation is applaudable, those who have an active desire for virtuous qualities that would be difficult to come by in their current predicaments are much more noble.
          </p>
          <h3>Further Commentary</h3>
          <p>
            Zigong was already described in <a href="/1/10">1.10 Gathering Information</a> - this passage is a conversation between him and Confucius.
          </p>
          <p>
            As mentioned, Zigong was wealthy and skilled with words, some qualities that are far from virtuous life. He also liked to evaluate people, and prided on the fact that he was humble despite his wealth <strike>which in itself is prideful</strike>. He also liked to be evaluated by his most respected master, and also be complimented for it. 
          </p>
          <p>
            So he decides to ask about how the rich can be virtous, and asks about the poor as well since it would be too forward to just ask about the rich. He does all of this in an eloquent manner - notice how in the original Chinese, he speaks in groupings of four characters, showing off his finesse with words. 
          </p>
          <p>
            Confucius understands these qualities of his disciple all too well. So he expresses satisfaction towards Zigong's notions about how the amount of wealth can affect virutous living, but also that 'doing good' is better than 'not doing wrong'. Confucius never orders his disciples to act a certain way - he just shows them the correct path, and lets the student enlighten himself. There's no point in teaching fools that will never understand, and no point in long explanations to the wise that will comprehend on their own.
          </p>
          <p>
            Zigong does not disappoint his teacher, and quotes poetry that describes the difficult efforts that must be put in for self-improvement. He is essentially saying, "I know what you mean - I'm doing well now, but you want me to be even more modest." Confucius cannot help but be pleased, and compliments his eager <strike>and wealthy</strike> disciple.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
          <img class="img-responsive" src="/images/zigongstatuesmall.jpg">
          Depiction of Zigong and Confucius
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.15 To be Poor and Rich</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/14"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.14 True Philosopher</a></li>
          <li class="next"><a href="/1/16">1.16 Recognition of Merits <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>