<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.16 Recognition of Merits</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"To become a good guardian, a man must be by nature fast, strong, and a spirited philosopher."</i><footer><a href="https://en.wikipedia.org/wiki/Plato">Plato</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.16 Recognition of Merits</h1>
        <h2><small>내가 남을 모르는 것을 걱정하여라</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「不患人之不己知，患不知人也。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: Do not be concerned that no one recognizes your merits. Be concerned that you may not recognize others'.
            </div>
          </div>
          <div class="well">
            <p>
              I do not worry that I will not be understood, I worry that I may not understand others.
            </p>
          </div>
          <p>
            Very short and to the point, how many times in life have we became frustrated that we were not being understood when we did not make the true effort to understand others.
          </p>
          <h3>Further Commentary</h3>
          <p>
            This passage bares resemblance to the third sentence of the first passage, 'If one is unaffected by others not recognizing their talents or insights, they are to be considered noble' - the meanings are almost identical.  
          </p>
          <p>
            The phrase to be 'understood' is the same translation as to be 'recognized', and it can be taken as both of the meanings in English.
          </p>
          <img class="img-responsive" src="/images/koreanewyears.jpg">
          Filial Piety in modern Korea
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.16 Recognition of Merits </a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/15"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.15 To be Poor and Rich</a></li>
          <li class="next"><a href="/2">Chapter 2 - "On Governance"<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>