<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
  <title>1.2 Virtues are based on Foundations</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>1.2 Virtues are based on Foundations</h1>
        <h2><small>근본이 바로서야 도가 생긴다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              有子曰：「其為人也孝弟，而好犯上者，鮮矣；不好犯上，而好作亂者，未之有也。君子務本，本立而道生。孝弟也者，其為仁之本與！」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Master You said: It is rare to find a person who is filial to his parents and respectful of his elders, yet who likes to oppose his ruling superior. And never has there been one who does not like opposing his ruler who has raised a rebellion. The junzi works on the root – once the root is planted, the dao is born. Filiality and respect for elders, are these not the roots of ren?
            </div>
          </div>
          <div class="well">
            <p>
              There are few who have developed respect for their family and friends who enjoy offending their superiors unprovoked. Those who enjoy groundlessly offending others are those that add to the chaos. The established man focuses on the fundamentals. Once an individual is able to distinguish what it means to be ethical, the proper way to live appears. Having appreciation for your parents, respect for elders, and love for the ones you care about brings out the best in human goodness.
            </p>
          </div>
          <p>
            We are able to tell early on about the role of hierarchy in Confucianism, by noting that only the second passage in, the discussion of how the ‘lesser person’ should submit entirely to the ‘upper person’ is brought up. Nonetheless, this quote cannot be simply summarized as ‘hierarchy equals to peace and harmony.’
          </p>
          <p>
            In the English translation, usage of the word ‘superior’ makes it too easy to assume exactly what may be superior. Many casual readers regard this quote as a simple ‘being of older age / social status equates to superiority’, but in fact the true Confucian way of measuring superiority is largely based on the moral characteristics of that person.
          </p>
          <p>
            Why does the Confucian school of thought consider the child's respect to the parents as a fundamental philosophy for living a harmonious and virtuous life? I consider an obvious explanation to be that you should have respect for those who raised you out of love when you were nothing but an infant. The past records of how you were once in a mother’s womb and how you had shelter and food the moment you were born should not be forgotten. To have respect should not be to always consider your parents as supremely wise or correct for example, it is simply to return the blind love that they had once given you. This means that even in their late senior years, there should never be mockery or rudeness. You should give respect where respect is due, in a sustainable form of respect that makes sense for both you and your parents.
          </p>
          <p>
            If respect for your parents is born out of the desire to return the love that they had provided you with, then why should elders as a whole be respected as a fundamental building block to ethics as well? Just because they are older does it mean that they should be taken to be higher? To answer this question, one has to consider what it means for someone to be older. It means that they have lived more years than you have, so in terms of the total duration of raw opportunities, they have had more than you. Of course, the value of the years they have existed you may consider being lower than yours, but that is only a secondary conclusion drawn out after the acceptance of their greater raw duration of consciousness. Therefore, it is not only polite, but also logical to offer the benefit-of-doubt to those who are older. Another factor why respect to the elderly is virtous is because it often is the manifestation of a humble acceptance that one day, you will be just as old as them, and that you will want those with less experience than you to respect your wisdom as well.
          </p>
          <p>
            How can someone who is so humble and farsighted enough to have compassion for their parents and the elderly be fond of causing confusion in the world? That person must surely at least embody the concept of gratitude, if they are able to have gratitude towards the people that they owe the most to. Finally, if this person even has a genuine disposition to their peers and the people around them, could you imagine them adding any sort of confusion or harm into any society?
          </p>
          <p>
            This is the true, full meaning of this quote before those in superior positions (Empires against another empire, people in power) started using pro-hierarchy quotations such as these to enslave people or cater to their massive egos. The consideration of values or philosophies that inspire love for parents, friends, and elders are often the most easy and obvious ways to build up one’s moral character. 
          </p>
          <h3>Further Commentary</h3>
          <p>
            Notably, as you can tell from the Eno translation, it is not Confucius who shares this quote, but instead a disciple by the name of You Ruo. Some passages in the Analects are not attributed to Confucius, but rather his disciples. This is a reason why many academics deduce that the Analects was written over a long period of time by different descendents of disciples.
          </p>
          <p>
            You Ruo was 43 years younger than Confucius, and is said to have looked and sounded similar to Confucius. This led some disciples to want to nominate You Ruo as the primary successor to the Confucian school of thought, but many of the other disciples disagreed and the idea was abandoned. Following Confucius' death, many of the disciples went on to form separate ideologies that focused on different aspects of Confucius' teachings, of which eventually may of these different schools of thought were reunited under the name 'Confucianism'.
          </p>
          <p>
            The concept of the '<a href="https://en.wikipedia.org/wiki/Junzi"><span class="glyphicon glyphicon-link"></span> Junzi</a>' (Ideal Person) is a frequently discussed term in the Analects, with some similarities to Socrates' 'Philosopher King', as the ultimate human who can embody the virtues of ethics and justice in their purest forms. In order to become 'Junzi', one must have '<a href="https://en.wikipedia.org/wiki/Ren_(Confucianism)"><span class="glyphicon glyphicon-link"></span> Ren</a>' (a comprehensive ethical virtue). All that the Analects tries to accomplish is to describe the lifestyle of a person who lives by virtues and not of greed (Junzi), and to explain the concept of those virtues (Ren). The earliest insight of what this illusive concept of 'Ren' may be is explained in this passage. You Ruo described <a href="https://en.wikipedia.org/wiki/Filial_piety"><span class="glyphicon glyphicon-link"></span> filial piety</a> and sibling-like love for one's friends as the fundamental blocks for living virtuously (with Ren!).
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
          <img src="/images/filialpiety.jpg">
          <br>
          Classical Painting demonstrating Filial Piety
          <img src="/images/youruo.jpeg">
          <br>
          Confucius (left) and You Ruo
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.2 Virtues are based on Foundations</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/1"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.1 Learning is Pleasurable</a></li>
          <li class="next"><a href="/1/3">1.3 Embellishment is Rarely Veracious <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>