<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
  <title>1.3 Embellishment is Rarely Veracious</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li class="previous"><a href="/1/2"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.2 Virtues are based on Foundations</a></li>
          <li class="next"><a href="/1/4">1.4 Three Self Reflections <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="page-header">
        <h1>1.3 Embellishment is Rarely Veracious</h1>
        <h2><small>꾸밈이 많은 사람은 실속이 없다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「巧言令色，鮮矣仁！」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: Those of crafty words and ingratiating expression are rarely ren.
            </div>
          </div>
          <div class="well">
            <p>
              Crafty words and ingratiating expressions are rarely virtuous.
            </p>
          </div>
          <p>
            Verbal communication is at its best when both parties have an unspoken agreement to carefully choose words that are not meant to influence, but rather to convey the exact sentiments they are feeling. A philosophical question worth pondering alone is <i>"Why do I (choose to) talk?"</i> The answer you arrive at usually sums up the genuiness of your interactions.
          </p>
          <p>
            Those who are on the extreme scale on society's spectrum who choose to speak scripted words and maintain a deceptive facial expression during human interaction are <strong>con artists</strong>. They are those who seek to manipulate and misdirect others for personal gain.
          </p>
          <p>
            To live virtuously does not mean to be naive or blindly trusting of others - a true philosopher and student of virtues must be able to distinguish those who are approaching them with sincerity versus those who are approaching them for selfish gains.
          </p>
          <h3>Further Commentary</h3>
          <p>
            <a href="https://en.wikipedia.org/wiki/Paul_Graham_(computer_programmer)"><span class="glyphicon glyphicon-link"></span> Paul Graham</a> writes that <a href="http://paulgraham.com/speak.html"><span class="glyphicon glyphicon-link"></span>  he doesn't want to be a good speaker</a>, after paying close attention to what a great, famous speaker was saying.
            <blockquote>
              <i>"Being a really good speaker is not merely orthogonal to having good ideas, but in many ways pushes you in the opposite direction... Audiences like to be flattered; they like jokes; they like to be swept off their feet by a vigorous stream of words. As you decrease the intelligence of the audience, being a good speaker is increasingly a matter of being a good bullshitter."</i><footer>Paul Graham</footer>
            </blockquote>
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.3 Embellishment is Rarely Veracious</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/2"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.2 Virtues are based on Foundations</a></li>
          <li class="next"><a href="/1/4">1.4 Three Self Reflections <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>

</body>
</html>