<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
  <title>1.4 Three Self Reflections</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>1.4 Three Self Reflections</h1>
        <h2><small>매일 세 번씩 반성한다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              曾子曰：「吾日三省吾身：為人謀而不忠乎？與朋友交而不信乎？傳不習乎？」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Master Zeng said: Each day I examine myself upon three points. In planning for others, have I been loyal? In company with friends, have I been trustworthy? And have I practiced what has been passed on to me?
            </div>
          </div>
          <div class="well">
            <p>
              Self-reflect daily upon three points. Firstly, in interaction with others, have I been helpful? Secondly, in company with friends, have I been genuine? Thirdly, have I strived to practice and master what I have learned?
            </p>
          </div>
          <h3>1. In interaction with others, have I been helpful?</h3>
          <h3>2. In company with friends, have I been genuine?</h3>
          <h3>3. Have I strived to practice and master what I have learned?</h3>
          <h3>Further Commentary</h3>
          <p>
            Once again, this passage is not attributed to Confucius, but rather a disciple who was 46 years younger than Confucius, <a href="https://en.wikipedia.org/wiki/Zengzi"><span class="glyphicon glyphicon-link"></span> Zengzi</a>. He was one of the last disciples that Confucius took under. It is well known that Confucius did not have a favorable evaluation of Zengzi, with records of Confucius directly saying "Zengzi is slow (stupid)". Nonetheless, he was respected among disciples for his extreme devotion to Confucius' teachings, and for his filial piety, and is considered one of the <a href="https://en.wikipedia.org/wiki/Four_Sages"><span class="glyphicon glyphicon-link"></span>  Four Sages</a>.
          </p>
          <p>
            Zengzi was the son of <a href="https://en.wikipedia.org/wiki/Zeng_Dian"><span class="glyphicon glyphicon-link"></span> Zeng Dian</a>, one of the earliest disciples of Confucius, a disciple who was known to be a bit of a lunatic. Zeng Dian would often beat Zengzi, and one day Zengzi was beaten almost to death. Zengzi was concerned that his father would worry, so he started calmly playing his reed to convey that he was alright. When Confucius later heard of this story, Confucius berated Zengzi, criticizing his lack of adaptability for taking the beatings instead of trying to escape from Zeng Dian's beatings, arguing that an immense emotional burden would have been laid on the father if his son happened to be seriously wounded or die from the beatings.
          </p>
          <p>
            Despite his shortcomings, Zengzi eventually became Confucius' unofficial successor largely due to his young age (and the early death of Confucius' most prized disciple, Yan Hui). He also tried to overcome his lack of intuition with pure memorization of his master's teachings, and was able to transfer the knowledge well to his disciples, which included the famous Mencius. His disciples became the most-versed in Confucian teachings than their competitors, and secured power in the circle. 
          </p>
          <p>
            Nonetheless, Zengzi has been evaluated especially by modern scholars as a <strong>negative</strong> influence to Confucianism, and is frequently blamed for many of the adverse effects of Confucianism we can observe today, including the over-rigid social hierarchy system. He is said to have oversimplified the intricate Confucian ethics, a frequently cited example being that he morphed the philosophy of "Parents must be parentlike, masters masterful, elders elderly, superiors morally superior <strong>in order to be respected</strong>," into a meager "Parents must be respected because they are parents, masters must be respected because they are masters, elders must be respected because they are elders, and superiors must be respected because they are superior."
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
          <img src="/images/zengzi.jpg">
          <br>
          Zengzi
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.4 Three Self Reflections</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/3"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.3 Embellishment is Rarely Veracious</a></li>
          <li class="next"><a href="/1/5">1.5 The Make of a Ruler <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>