<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.6 Behaviours of Benevolence</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"When a man has done what he considers to be his duty to his people and his country, he can rest in peace."</i><footer><a href="https://en.wikipedia.org/wiki/Nelson_Mandela">Nelson Mandela</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.6 Behaviours of Benevolence</h1>
        <h2><small>어진 사람의 태도</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「弟子入則孝，出則弟，謹而信，汎愛眾，而親仁。行有餘力，則以學文。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: A young man should be filial within his home and respectful of elders when outside, should be careful and trustworthy, broadly caring of people at large, and should cleave to those who are <i>ren</i>. If he has energy left over, he may study the refinements of culture <i>wen</i>.
            </div>
          </div>
          <div class="well">
            <p>
              A young man should serve his parents at home and be respectful to elders outside his home. He should be earnest and truthful, loving all, but become intimate with his innate good-heartedness. After doing this, if he has energy to spare, he can study literature and the arts.
            </p>
          </div>
          <p>
            Confucius has quite a few comments on leadership and political theory, as he strived to become a politician himself. Although it is indeed a 2,500 year old political theory, it still has application today. In modern application, the points presented here can be summarized as thus:
          </p>
          <ol>
            <li>
              Devise a national plan that shows evidence of due dilligence for long-term sustainability and attention for every income level and social status of your people. It's important to win the support of your people by earning their confidence. Confident citizens create harder workers as they will be assured that the government has a clear plan for the big picture.
            </li>
            <li>
              Be wise in spending the national budget. Because governments can become sprawling and large, it's very important to keep track of where money is being invested or spent on providing social benefits. Using the budget effectively one of the key roles for a government that has its interests on maximizing the total happiness of its people. If citizens in a country are satisfied with the way a government is spending money (and therefore its power), it will lead to happier workers which means more overall productivity.
            </li>
            <li>
              Unless inevitable causes (such as war, or mass construction) call for a mass employment of people out of the ordinary public sector, be cautious not to cause imbalance through mass hirings. Hiring people out of the public sector into the government sector makes those workers a payroll for the government instead of a tax income, and also makes them lose opportunities for innovation or training to be used in the public sector.
            </li>
          </ol>
          <p>
            As with most political theories, it seems it would be easy to devise them, but very difficult to put them into actual practice.
          </p>
          <h3>Further Commentary</h3>
          <p>
            What is perhaps most interesting about Confucius and his political ideas is that they seem to be grounded on ethical concepts. He believed that the construction of ethical concepts will lead to ethical peoples, which would lead to ethical societies. 
          </p>
          <p>
            Many politicians are corrupt, as politicians are in positions of power, and possession of power has the tendency to corrupt. Corruption is not particularly illogical, especially when considered in the perspective of personal short-term profits, as it's often a way to make the most money and make the most out of a political position that is undeniably difficult to attain. However, leaders who have developed a strong philosophical foundation will be able to recognize that long-term profits which are in everyone's interests (not just personal interests) can be achieved by staying far away from corruption, as corruption undoubtedly will create an inefficient market for the majority of people.
          </p>
          <p>
            A crucial philosophical keystone for leaders should be to act for the interests of everyone who they are responsible for, as those supporters and the people who rely on you are really the true sources of power. This seems to be a logically derivable concept and is constantly well depicted in even popular movies that portray good leadership (Captain Philips, U-571), but it is behaviour that you see rarely from politicians or other societal leaders who hold power in our society.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.5 The Make of a Ruler</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/4"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.4 Three Self-Reflections</a></li>
          <li class="next"><a href="/1/6">1.6 Behaviours of Benevolence <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>