<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.6 Behaviours of Benevolence</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Goodness is about character - integrity, honesty, kindness, generosity, moral courage, and the like. More than anything else, it is about how we treat other people."</i><footer><a href="https://en.wikipedia.org/wiki/Dennis_Prager">Dennis Prager</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.6 Behaviours of Benevolence</h1>
        <h2><small>어진 사람의 태도</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「弟子入則孝，出則弟，謹而信，汎愛眾，而親仁。行有餘力，則以學文。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: A young man should be filial within his home and respectful of elders when outside, should be careful and trustworthy, broadly caring of people at large, and should cleave to those who are <i>ren</i>. If he has energy left over, he may study the refinements of culture <i>wen</i>.
            </div>
          </div>
          <div class="well">
            <p>
              While at home, the youth should serve their parents and outside the home, they should be respectful to their elders. They should be earnest and truthful and care for the well being of others. They should develop an innate good-heartedness. If after all this, they still have the mental freedom, they should study the literature and the arts.
            </p>
          </div>
          <p>
            Did Confucius not care as much about learning and academia as it appears from his other passages regarding learning? From this passage, he seems to take priority in the development of character before the development of knowledge.
          </p>
          <p>
            He seems to stress the development of personal values and humanity even before seeking self-development in the academic fields of study. It's because the aforementioned qualities having filial piety, genuiness, and care for others is that important. 
          </p>
          <h3>Further Commentary</h3>
          <p>
            Once personal integrity has been established, Confucius urges those to assess if the individual has energy left over. To have the energy left over means the energy to spare to use for learning about things outside of the personal philosophical realm, whether it may be pursing further knowledge in natural sciences, or more stressed in Confucius' time, cultures.
          </p>
          <p>
            I personally identify three worthwhile cultural subjects for the modern man. 
          </p>
          <ol>
            <li>
              History: Learn from the past to gain insight into the future, and prevent the same mistakes from occuring
            </li>
            <li>
              Foreign Languages: Learning a foreign language is the best way to become immersed in that culture
            </li>
            <li>
              Philosophy: Not limited particularly to the study of Classics or Ancient Chinese philosophy, but the development of personal philosophy to maintain consistency in life
            </li>
          </ol>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.6 Behaviours of Benevolence</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/5"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.5 The Make of a Ruler</a></li>
          <li class="next"><a href="/1/7">1.7 The Enlightened Person <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>