<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.7 The Enlightened Person</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Knowing others is wisdom, knowing yourself is Enlightenment."</i><footer><a href="https://en.wikipedia.org/wiki/Laozi">Laozi</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.7 The Enlightened Person</h1>
        <h2><small>사람은 말과 행동이 똑같아야 한다</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子夏曰：「賢賢易色，事父母能竭其力，事君能致其身，與朋友交言而有信。雖曰未學，吾必謂之學矣。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Zixia said: If a person treats worthy people as worthy and so alters his expression, exerts all his effort when serving his parents, exhausts himself when serving his lord, and is trustworthy in keeping his word when in the company of friends, though others may say he is not yet learned, I would call him learned.
            </div>
          </div>
          <div class="well">
            <p>
              Treat the worthy as worthy, exert your utmost when serving parents, devote yourself when serving the lord, and be honest in speech when dealing with friends. If you do this, even if you weren't educated, I would still call you enlightened.
            </p>
          </div>
          <p>
            Stressed once again in the Analects is for the development of personal integrity and the realization of what it means to have humanity - treat your parents well, do your public duty (simplified as serving the lord), and be genuine in the presence of friends.
          </p>
          <p>
            The passage urges disciples to admire virtuous and well-learned individuals in the same way they would admire a beautiful woman, because both qualities of mental strength and outwardly beauty are comparably exquisite.
          </p>
          <p>
            Zixia is arguing that if one is able to behave morally and act out of personal integrity, even if that person didn't memorize any Confucian teachings or learn about the value of personal ethics, the person would still be considered enlightened. Ultimately, it is behaviour that defines the person and not necessarily the held beliefs or ideals of the person that define them.
          </p>
          <h3>Further Commentary</h3>
          <p>
            Zixia, the originator of this passage, was known for his writing and poetry skills, and was one of Confucius' finest disciples. He argued that people should develop small habits of good character in order to understand the bigger picture of personal integrity. He later became a renowned politician himself.
          </p>
          <p>
            He was also known for his emotional sensitivity. Late in his life, he is said to have become blind after losing his child, because he cried too much. There are <a href="https://en.wikipedia.org/wiki/Joseon"><span class="glyphicon glyphicon-link"></span> Joseon Dynasty</a> records of <a href="https://en.wikipedia.org/wiki/Seonbi"><span class="glyphicon glyphicon-link"></span> Seonbis</a> saying to those who lament too much for the death of their children, "Will you become blind like Zixia?" (...).
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.7 The Enlightened Person</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/6"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.6 Behaviours of Benevolence</a></li>
          <li class="next"><a href="/1/8">1.8 Seek to Develop Yourself <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>