<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.8 Seek to Develop Yourself</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Let him who would move the world first move himself."</i><footer><a href="https://en.wikipedia.org/wiki/Socrates">Socrates</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.8 Seek to Develop Yourself</h1>
        <h2><small>허물은 서슴지 말고 바로 고쳐라</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              子曰：「君子不重則不威，學則不固。主忠信，無友不如己者，過則勿憚改。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              The Master said: If a <i>junzi</i> is not serious he will not be held in awe. If you study you will not be crude. Take loyalty and trustworthiness as the pivot and have no friends who are not like yourself in this. If you do err, do not be afraid to correct yourself.
            </div>
          </div>
          <div class="well">
            <p>
              If a noble person lacks prudence or deliberation, he will not be considered dignified. If one does not constantly strive to educate themselves, they will soon become outdated. Focus on the values of loyalty and trustworthiness and let them guide you. Do not associate yourself excessively with those whom you have nothing to learn from. If you do err, correct yourself promptly.
            </p>
          </div>
          <p>
            A part of becoming a noble person (<i>junzi</i>) is to develop a strong philosophical foundation for yourself and your actions. If you build up this foundation, you will be thoughtful and deliberate in your actions and intentions.
          </p>
          <p>
            People who have truly developed strong philosophical foundations for themselves are rarely seen as insecure or awkward. A common reason for the lack of success in social interactions may be because of the lack of personal identity and understanding of the current state of mind and circumstance.
          </p>
          <p>
            Another side effect of having figured out personal philosophies is that those individuals become much more interesting to meet and learn about, as a key component of a human being is learning about what they consider to be important, and the reasons for their actions. A comprehensive human being who has depth and evidence of self-reflection is a much more interesting individual because they are intriguing to get to know and understand. Especially if it's someone of character you admire, their philosophies and outlook towards life become that much more compelling to learn about.
          </p>
          <p>
            The notion that prudence leads to perceived dignity is obvious. Dignified people have charisma and weight in their words and social interactions, qualities that only arise from thoughtfulness.
          </p>
          <p>
            Those who stop learning become stagnant, both in personality and knowledge. Becoming stagnant towards late life is understandable, but the younger should never become stagnant.
          </p>
          <p>
            Many passages discuss friendship, and the Confucian philosophy encourages distinguishing between who you consider to be true friends from your acquaintances.
          </p>
          <h3>Further Commentary</h3>
          <p>
            Confucius didn't teach his disciples to never err, as mistakes and slip ups are an inevitable part of human nature. Instead, he taught his disciples to recognize wrongdoings immediately, as the failure to recognize the wrongdoing would be committing two wrongdoings. Do not try to deceive yourself - you must be honest to yourself in order to be truly self-reliant.
          </p>
          <p>
            Finally, living alone in an unfamiliar land encourages you to reflect on your own life with objective scrutiny, and forces you to accept realities.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.8 Seek to Develop Yourself</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/7"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.7 The Enlightened Person</a></li>
          <li class="next"><a href="/1/9">1.9 Funeral Rites <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>