<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <title>1.9 Funeral Rites</title>
  <% include ../common/includes.ejs %>
</head>
<body>
  <% include ../common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Some people are your relatives but others are your ancestors, and you choose the ones you want to have as ancestors. You create yourself out of those values."</i><footer><a href="https://en.wikipedia.org/wiki/Ralph_Ellison">Ralph Ellison</a></footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>1.9 Funeral Rites</h1>
        <h2><small>조상들을 위한 제사</small></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chinese" aria-expanded="false" aria-controls="collapseExample">
            Original Chinese
          </button>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eno" aria-expanded="false" aria-controls="collapseExample">
            Eno Translation
          </button>
          <div class="collapse" id="chinese">
            <div class="well">
              曾子曰：「慎終追遠，民德歸厚矣。」
            </div>
          </div>
          <div class="collapse" id="eno">
            <div class="well">
              Master Zeng said: Devote care to life's end and pursue respect for the distant dead; in this way, the virtue of the people will return to fullness.
            </div>
          </div>
          <div class="well">
            <p>
              When the people devote care about their parents to life's end and continue in reverence after they are long gone, the virtue of the people will return to its natural depth.
            </p>
          </div>
          <p>
            A key component of Confucianism is the ceremonies and rites to show respect to ancestors. It's important to note here that the philosophy originated at a time when the role of religion in ancestor worship or funeral rites were not defined as they are today.
          </p>
          <p>
            Characteristic of Zengzi, this is another passage about filial piety. He urges funeral rites to demonstrate dilligence towards filial piety.
          </p>
          <h3>Further Commentary</h3>
          <p>
            Funeral Rites are an ancient custom that is still widely practiced even in modern societies that are influenced by Confucianism. Different countries practice their own versions of the ancestor ceremonies. In Korea, a key component of a national holiday (such as the Korean equivalent of New Years and Thanksgiving) is the <a href="https://en.wikipedia.org/wiki/Jesa"><span class="glyphicon glyphicon-link"></span> Jesa</a>, a memorial ceremony for the ancestors.
          </p>
          <img class="img-responsive" src="/images/jesa.gif">
          <p>
            A traditional Jesa setup, involving rice cakes, meat, fish, pancakes, dates, chestnuts, pears, persimmons, and alcohol among other food items. Foods that the deceased liked may be offered, and foods that they disliked removed from the typical setup. Pizza, bananas, or other modern food items they enjoyed during their lifetime may also be placed, depending on the family's values.
          </p>
          <p>
            The fruits are peeled as depicted in the image, to make it 'easier' for the ancestor to consume.
          </p>
          <p>
            The Jesa often has a political or monetary influence as well, as kings conducted the Jesa to assert their heirship (by showing respect to the previous ruler), and the oldest child in the family (who is expected to perform the Jesa for the parents) often received the largest sum of the inheritance.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <% include ../common/chap1nav.ejs %>
          <img class="img-responsive" src="/images/jesasuits.jpg">
          A large, modern, outdoor Jesa
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>1.9 Funeral Rites</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/1/8"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 1.8 Seek to Develop Yourself</a></li>
          <li class="next"><a href="/1/10">1.10 Gathering Information <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include ../common/footer.ejs %>

  <% include ../common/footerincludes.ejs %>
</body>
</html>