<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>Life of Confucius</title>
  <% include common/includes.ejs %>
</head>
<body>
	<% include common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Confucius <small>孔子 (BC 551 September 28 ~ BC 479)</small></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            Before diving into the Analects, it's worthwhile to describe the life of Confucius in a historical context and clear up some misconceptions that exist of him and his life. Most of the recounts are credited to historian Sima Qian and his work <i>Records of the Grand Historian</i>, the East Asian equivalent of Classical Greece's Herodotus and his work <i>Historiae</i>.
          </p>
          <h3>Birth and Early Life</h3>
          <p>
            Confucius's was a descendent of the Shang dynasty of the Song State.
          </p>
          <p>
            He was the son of a warrior of great physical strength named Shuliang He. It is recorded that when the Lu squadron was lured into a castle as a trap set by the opposing army, Shuliang was strong enough to hold the portcullis open with his arm strength so that the Lu soliders could escape under the gate. This physical trait would be passed on to Confucius. Before Zhong You became a pupil, he barged into Confucius' domicile expecting a scholar of meager stature, but was intimidated instead by the philosopher's formidable frame.
          </p>
          <p>
            Shuliang only birthed 9 daughters with his first wife, and finally birthed a son with a second wife, who was unfortuately born with a limp. This older brother of Confucius is mentioned in the Analects.
          </p>
          <p>
            Eventually, Shuliang married a 16 year old shaman by the name of Yan Zhengzai. The Yan family had three daughters, and when Shuliang expressed interest in marrying one of them, Zengzai volunteered to marry the 70 year old Shuliang. As recorded by Sima Qian, Confucius was an illegitimate love child. It is likely that he was born to a relatively noble, but poor household. Shuliang died when Confucius was three years old, and Confucius was raised by his mother. The other details of his early life vary among sources and are largely disputed.
          </p>
          <h3>Mid Life and Political Career</h3>
          <p>
            It is said that for the regions where he would be given the opportunity to shortly govern, the regions would find order and stability. Nonetheless, he had much difficulty finding a government position in Lu, and therefore wandered to nearby regions to find work.
          </p>
          <p>
            Confucius wandered for two distinguishable phases during his life, the first phase 30 to 40 years old consisting of minor travels to nearby castles. During the second phase (after he was 50), he wandered away from his home state of Lu for longer periods of time to try getting actively involved in the politics of the nearby regions.
          </p>
          <p>
            After 14 years of being away from Lu, he eventually returned home after not being able to settle in the other regions, as many lords did not agree with his philosophies and considered him to be a burden.
          </p>
          <p>
            The reason why Confucius remains as such an idealistic figure in East Asian society today is precisely because he failed to become a proper government official, and instead focused on educating the disciples that flocked to him for his character. Confucius lived during the Spring and Autumn period, a time in Chinese history marked by interstate power struggles and internal conflicts, and therefore his ideological notions about loyalty, order and respect were often mocked among those in power.
          </p>
          <p>
            Nonetheless, he was the master to nearly three thousand disciples and is said to have lived relatively affluently due to his processes of trying to become a government official and the reputation that he had built with his disciples and the locals.
          </p>
          <h3>Death and Legacy</h3>
          <p>
            Two disciples that Confucius valued the most died before he did. Yan Hui, the disciple whom Confucius considered to be his obvious successor passed away when he was only 32 years old due to bad health. Zhong You, Confucius' close friend and another firm embracer of the philosophies was killed in battle while protecting his lord against rebel soldiers, a death that Confucius predicted once he heard of the rebellion due to Zhong You's strong sense of valour. Zhong You's body was chopped to pieces and pickled (a surprisingly common fate for soldiers), and when Confucius heard of this fate, he fell ill and would not eat. Confucius died 7 days after Zhong You's death, at 73 years old.
          </p>
          <p>
            Shortly after his passing, his disciples started securing significant government positions utilizing the teachings of their master. The tale of Zhong You's honorable death was another catalyst for the other disciples to become respected and desired for employment. Even several hundred years later, his disciples would reiterate and spread the teachings of their master, and gradually Confucianism became the most authorative ideology of East Asia.
          </p>
          <h3>Teachings and Theories</h3>
          <p>
            Confucius was a philosopher in the truest sense of the word, the word 'philio' meaning 'in love with' and 'sophy' meaning 'knowledge'. He prided on saying that while there may be those who are more hardworking and trustworthy than he may be, no one enjoyed learning and wisdom and much as he did.
          </p>
          <p>
            His teachings are explained in simple language and presented as common sense. 
          </p>
          <p>
            Confucius' teaching style is said to have been highly entertaining, as his primary method of teaching was through <strong>singing</strong> and humming harmonies and rhythms to the poetry, likely influenced by his shaman mother who was also skilled in song and dance. Of course, only the lyrics of his teachings remain today, and the melodies to his poems have been lost.
          </p>
          <p>
            While it's easy to assume that his teachings would be highly abstract philosophical lectures, his curriculum actually focused on highly pragmatic skills so the skills of the disciples could provide objective value to society. He focused on teaching useful skills of what is known today as the Six Arts https://en.wikipedia.org/wiki/Six_Arts:
          </p>
          <ul>
            <li>Rites - disciples who mastered Confucius' teaching in this area were able to be employed in government to lead major festive rites within the country or even perform formal diplomatic ceremonies</li>
            <li>Music - not only music for pleasure or as a hobby, but disciples would also learn ceremonial music and therefore also provided a pathway to be employed as a bureaucrat</li>
            <li>Archery &amp; Charioteering - combat skills to be used for martial employment</li>
            <li>Calligraphy &amp; Mathematics - skills used for accounting and recordkeeping</li>
          </ul>
          <p>
            During Confucius' time, formal education in any of the above categories would be highly limited to the aristocracy, but Confucius would take in any disciple for a cheap offering of a bundle of beef jerky. He stressed that 'citizens must first be provided to be able to live comfortably, and once they were comfortable, they must be educated.' Confucius considered education to be a human necessity.
          </p>
          <h3>Miscellaneous</h3>
          <p>
            He lived a life full of tragedy and misfortunes, as his father was a seventy year old senior who would pass away before he reached his third birthday. He was forced to perform many chores and take on many jobs at an early age to maintain his living.
          </p>
          <p>
            During his lifetime, he ultimately failed in his career ambitions and also observed the early death of his ideological successor. Ironically, his political ideals and influence greatly flourished only after his death.
          </p>
          <p>
            He was a noted epicure and picky eater. He did not enjoy food that was foul smelling, dull in color, not in season, not ripend properly, or not correctly diced. He did not enjoy alcohol, beef or fish jerky that was not homemade, and only drunk in moderation.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>Confucius</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/purpose"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Purpose</a></li>
          <li class="next"><a href="/introduction">Introduction <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="container footnotes">
      <span class="footnote-list">
        <span id="c-1"></span>
        <a href="#rfn-1">[1]</a>
        Think of Western philosophers that laid foundations for extensive political theories such as Rene Descartes - and how his most famous quote 'I think, therefore I am' has become the motto for existentialism. Now imagine that a vast majority of a homogeneous ethnic group identified themselves as 'existentialists', and what a figure Descartes would be to those people. That is the way East Asians view Confucius.
        <br>
        <span id="c-2"></span>
        <a href="#rfn-2">[2]</a>
        If you are interested in learning about different cultures, start by learning the major philosophies or religions.
        <br>
        <span id="c-3"></span>
        <a href="#rfn-3">[3]</a>
        By 'modern interpretation', I mean a truly modern one where the main purpose is to help make understood the philosophies presented in the Analects to the average reader in the context of present-day values and ideas, and not as a study of history. Therefore, the commentary that's presented is not to be taken as the most-accepted interpretation, or even the most popular. In essence, I am not analyzing the passages through a well-conducted academic research, but rather synthesizing the ancient text through my own experiences and philosophies.
        <br>
        <span id="c-4"></span>
        <a href="#rfn-4">[4]</a>
        Or my preferred form, the <a href="https://en.wikipedia.org/wiki/Analogy_of_the_divided_line"><span class="glyphicon glyphicon-link"></span> Allegory of the Divided Line</a>.
        <br>
        <span id="c-5"></span>
        <a href="#rfn-5">[5]</a>
        Consider the differences between people who only follow the most popular (state-sponsored) news outlets and take their reporting to be the absolute facts, versus people who recognize the potential biases and unspoken motivations of every news outlet and attempt to conduct their own research into truth.
        <br>
        <span id="c-6"></span>
        <a href="#rfn-6">[6]</a>
        And also why ancient China, Japan, and Korea historically have had significantly less conflicts than European countries despite obvious imbalances in power.
        <br>
        <span id="c-7"></span>
        <a href="#rfn-7">[7]</a>
        Confucian teachings encourage personal skill (meritocracy) and 'nobility' by virtue - not for personal gain, but because he identified that you could serve as a role-model for great personal ethics to a wider range of people if you yourself was obviously respected and distinguished in society.
        <br>
        <span id="c-8"></span>
        <a href="#rfn-8">[8]</a>
        How some Westerners may first encounter Confucius
        <br>
        <span id="c-9"></span>
        <a href="#rfn-9">[9]</a>
        Ancient Chinese characters are difficult to translate, because their meanings are more symbollic than semantic. For example, the original character for '<a href="https://en.wikipedia.org/wiki/Filial_piety"><span class="glyphicon glyphicon-link"></span> filial piety</a>' (孝) is of the 'son' character (子) written beneath the 'senior' (耂) chracter to signify that the son is literally 'supporting' the senior.
        <br>
        <span id="c-10"></span>
        <a href="#rfn-10">[10]</a>
        Observant readers will notice that there is a 1 to 1 translation from the Ancient Chinese characters to Korean characters going on here. This is true for most Ancient Chinese characters.
      </span>
    </div>

    <% include common/footer.ejs %>

  <% include common/footerincludes.ejs %>

</body>
</html>