<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Life, death, and legacy of the most influencial figure in East Asian history.">
    <meta name="author" content="Peter Ju">

	<title>Life of Confucius</title>
  <% include common/includes.ejs %>
</head>
<body>
	<% include common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"I am not one who was born in the possession of knowledge; I am one who is fond of antiquity, and earnest in seeking it there."</i><footer>Confucius</footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>Confucius <small>孔子 (BC 551 September 28 ~ BC 479)</small></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            Before diving into the passages, it's worthwhile to describe the life of Confucius in a historical context and clear up some misconceptions that exist of him and his life. Most of the objective, unbiased<a href="#c-1" class="citation" title="Unbiased compared to the written records of Confucius left by his disciples"><span id="rfn-1"></span>[1]</a> recounts of Confucius existing today are credited to historian Sima Qian and his work <i>Records of the Grand Historian</i><a href="#c-2" class="citation" title="The Classical Greek equivalent of the 'father of history' is Herodotus and his work Historae."><span id="rfn-2"></span>[2]</a><a href="#c-3" class="citation" title="Despite being considered a historical work, Sima Qian incorporated many narrative elements in Records of the Grand Historian. Nonetheless, the book is essential reading for any student of Ancient Chinese history."><span id="rfn-3"></span>[3]</a>, and the <i>Book of Rites</i>.
          </p>
          <h3>Birth and Early Life</h3>
          <p>
            Confucius was a descendent of the Shang dynasty of the Song State. He lived most of his life in the Lu state of the Zhou Dynasty.
          </p>
          <p>
            He was the son of a warrior of great physical strength named Shuliang He.<a href="#c-4" class="citation" title="Shuliang was remarkably strong. When he was serving for the Lu army, his squadron was once lured into an enemy castle. Shuliang was so strong that he could hold open the gate (portcullis) with his arm strength alone so that the Lu soldiers could escape underneath the gate."><span id="rfn-4"></span>[4]</a> This physical strength and imposing physique was passed on to his son.<a href="#c-5" class="citation" title="Before Zhong You, one of the most famous Confucian disciples became a pupil, he barged into Confucius' domicile expecting a puny scholar, but instead was intimidated himself."><span id="rfn-5"></span>[5]</a> 
          </p>
          <p>
            Shuliang only birthed 9 daughters with his first wife, and birthed his first son with a second wife, who was unfortuately born with a limp. This older brother of Confucius is mentioned in the Analects.
          </p>
          <p>
            Eventually, when he was nearing 70, Shuliang married a 16 year old concubine by the name of Yan Zhengzai.<a href="#c-6" class="citation" title="The Yan family had three daughters, and when Shuliang expressed interest in marrying one of them, Zengzai volunteered to marry the 70 year old Shuliang. Sima Qian writes that Confucius was an illegitimate child."><span id="rfn-6"></span>[6]</a> He was born to a relatively noble, but poor household. Shuliang died when Confucius was three years old, and Confucius was raised by his mother. The other details of his early life vary widely among sources.
          </p>
          <h3>Mid Life and Political Career</h3>
          <p>
            Confucius strived to be a career politician, being employed by his native <a href="https://en.wikipedia.org/wiki/Lu_%28state%29"><span class="glyphicon glyphicon-link"></span> State of Lu</a> to govern after peasants. In the regions where he was appointed to govern for a short term, the regions found order and stability.<a href="#c-7" class="citation" title="<strike>He better have, being such a smartass about governing other people</strike>"><span id="rfn-7"></span>[7]</a> Nonetheless, he had much difficulty finding a government position in Lu, and therefore wandered to nearby regions to find work.
          </p>
          <p>
            Confucius wandered for two distinguishable phases during his life, the first phase<a href="#c-8" class="citation" title="30 to 40 years old"><span id="rfn-8"></span>[8]</a> consisting of minor travels to nearby castles. During the second phase<a href="#c-9" class="citation" title="Approximately 50 to 65 years old"><span id="rfn-9"></span>[9]</a>, he wandered away from his home state of Lu for longer periods of time to try getting actively involved in the politics of the nearby regions.
          </p>
          <p>
            After 14 years of being away from Lu, he eventually returned home after not being able to settle in the other regions, as many lords did not agree with his philosophies and considered him to be a burden.<a href="#c-10" class="citation" title="His disciples also did not appreciate the fact their respected master was having such a hard time finding work"><span id="rfn-10"></span>[10]</a>
          </p>
          <p>
            The reason why Confucius remains as such an idealistic figure in East Asian society today is precisely because he failed to become a proper government official, and instead focused on educating the disciples that flocked to him for his character. Confucius lived during the <a href="https://en.wikipedia.org/wiki/Spring_and_Autumn_period"><span class="glyphicon glyphicon-link"></span> Spring and Autumn period</a>, a time in Chinese history marked by interstate power struggles and internal conflicts, and therefore his ideological notions about loyalty, order and respect were a common subject of mockery among those in power.
          </p>
          <p>
            Nonetheless, he was the master to nearly three thousand disciples and is said to have lived relatively affluently due to his processes of trying to become a government official and the reputation that he had built with his disciples and the locals.<a href="#c-11" class="citation" title="He received many gifts from his admirers, and was affluent enough to live on a very large property with several horse drawn carriages. Near the end of his life, he was definitely not living in poverty."><span id="rfn-11"></span>[11]</a>
          </p>
          <h3>Death and Legacy</h3>
          <p>
            Two disciples that Confucius valued the most died before he did. Yan Hui, the disciple whom Confucius likely considered to be his ideological successor, passed away when he was only 32 years old due to bad health. Zhong You, Confucius' close friend and another firm embracer of the philosophies, was killed during an uprising in Wey - he was trying to protect his lord against the rebels. Confucius predicted his death once he heard of the rebellion due to Zhong You's strong sense of valour. Zhong You's body was chopped to pieces and pickled<a href="#c-12" class="citation" title="A surprisingly common fate for soldiers at the time (...)"><span id="rfn-12"></span>[12]</a>, and when Confucius heard of this fate, he fell ill and would not eat<a href="#c-13" class="citation" title="Probably nothing pickled"><span id="rfn-13"></span>[13]</a>. Confucius died soon after Zhong You's death, at 73 years old.
          </p>
          <p>
            Shortly after his passing, his disciples started securing significant government positions utilizing the teachings of their master. The tale of Zhong You's honorable death was another catalyst for the other disciples to become respected and desired for employment in the many states of ancient China, especially because they were recognized for their attention to harmony and virtuous living. Even several hundred years later, the disciples reiterated and spread the teachings of their master, and gradually Confucianism became the most authorative ideology of East Asia.
          </p>
          <h3>Teachings and Theories</h3>
          <p>
            Confucius was a philosopher in the truest sense of the word, the root words '<i>philio</i>' meaning 'in love with' and '<i>sophy</i>' meaning 'knowledge'. He prided on saying that while there may be those who are more hardworking and trustworthy than he may be, no one enjoyed learning and wisdom and much as he did.
          </p>
          <p>
            His teachings are explained in simple language and presented as common sense. 
          </p>
          <p>
            Confucius' teaching style was highly entertaining and engaging, and his primary method of teaching was through song. He sang or hummed verses of poetry describing virtue and wisdom to his disciples. He was likely influenced by his mother whose occupation required skill in singing and dancing.<a href="#c-14" class="citation" title="She was a shaman, often participating in rituals involving singing and dancing"><span id="rfn-14"></span>[14]</a> Of course, only the lyrics of his teachings remain today, and the melodies to his poems have been lost.<a href="#c-15" class="citation" title="Needless to say, it would've made learning about Confucianism much more interesting if these songs survived"><span id="rfn-15"></span>[15]</a> 
          </p>
          <p>
            While it's easy to assume that his teachings would be highly abstract philosophical lectures, his curriculum actually focused on highly pragmatic skills so the skills of the disciples could provide objective value to society.<a href="#c-16" class="citation" title="His philosophies strongly promote meritocracy"><span id="rfn-16"></span>[16]</a> He focused on teaching skills of what is known today as the <a href="https://en.wikipedia.org/wiki/Six_Arts"><span class="glyphicon glyphicon-link"></span> Six Arts</a>:
          </p>
          <ul>
            <li>Rites - disciples who mastered Confucius' teaching in this area were able to be employed in government to lead major festive rites within the country or even perform formal diplomatic ceremonies</li>
            <li>Music - not only music for pleasure or as a hobby, but disciples would also learn ceremonial music and therefore also provided a pathway to be employed by the government</li>
            <li>Archery &amp; Charioteering - combat skills to be used for martial employment</li>
            <li>Calligraphy &amp; Mathematics - skills used for accounting and recordkeeping</li>
          </ul>
          <p>
            During Confucius' time, formal education in any of the above categories would be highly limited to the aristocracy, but Confucius prided on taking in any disciple for a cheap offering of a bundle of jerky. It was natural for him to educate anyone who wished to learn, as he considered education to be a basic human necessity.<a href="#c-17" class="citation" title="He stressed that 'citizens must first be provided to be able to live comfortably, and once they are comfortable, they must be educated.'"><span id="rfn-17"></span>[17]</a>
          </p>
          <h3>Miscellaneous</h3>
          <p>
            He lived a life marked by tragedy and misfortunes, as his father died even before he reached his third birthday. He was forced to perform many chores and take on many jobs at an early age to maintain his living.
          </p>
          <p>
            During his lifetime, he ultimately failed in his career ambitions and also observed the early death of his ideological successor. Ironically, his political ideals and influence greatly flourished only after his death.
          </p>
          <p>
            He was a noted epicure and picky eater. He did not enjoy food that was foul smelling, dull in color, not in season, not ripend properly, or not correctly diced. He did not enjoy alcohol, beef or fish jerky that was not homemade, and only drunk in moderation.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="images/confucius1.jpg">
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>Confucius</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/purpose"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Purpose</a></li>
          <li class="next"><a href="/introduction">Introduction <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="container footnotes">
      <span class="footnote-list">
        <span id="c-1"></span>
        <a href="#rfn-1">[1]</a>
        Unbiased compared to the written records of Confucius left by his disciples
        <br>
        <span id="c-2"></span>
        <a href="#rfn-2">[2]</a>
        The Classical Greek equivalent of the 'father of history' is Herodotus and his work <i>Historae</i>.
        <br>
        <span id="c-3"></span>
        <a href="#rfn-3">[3]</a>
        Despite being considered a historical work, Sima Qian incorporated many narrative elements in Records of the Grand Historian. Nonetheless, the book is essential reading for any student of Ancient Chinese history.
        <br>
        <span id="c-4"></span>
        <a href="#rfn-4">[4]</a>
        Shuliang was remarkably strong. When he was serving for the Lu army, his squadron was once lured into an enemy castle. Shuliang was so strong that he could hold open the gate (portcullis) with his arm strength alone so that the Lu soldiers could escape underneath the gate.
        <br>
        <span id="c-5"></span>
        <a href="#rfn-5">[5]</a>
        Before Zhong You, one of the most famous Confucian disciples became a pupil, he barged into Confucius' domicile expecting a puny scholar, but instead was intimidated himself.
        <br>
        <span id="c-6"></span>
        <a href="#rfn-6">[6]</a>
        The Yan family had three daughters, and when Shuliang expressed interest in marrying one of them, Zengzai volunteered to marry the 70 year old Shuliang. Sima Qian writes that Confucius was an illegitimate child.
        <br>
        <span id="c-7"></span>
        <a href="#rfn-7">[7]</a>
        <strike>He better have, being such a smartass about governing folks</strike>
        <br>
        <span id="c-8"></span>
        <a href="#rfn-8">[8]</a>
        30 to 40 years old
        <br>
        <span id="c-9"></span>
        <a href="#rfn-9">[9]</a>
        Approximately 50 to 65 years old
        <br>
        <span id="c-10"></span>
        <a href="#rfn-10">[10]</a>
        His disciples also did not appreciate the fact their respected master was having such a hard time finding work
        <br>
        <span id="c-11"></span>
        <a href="#rfn-11">[11]</a>
        He received many gifts from his admirers, and was affluent enough to live on a very large property with several horse drawn carriages. Near the end of his life, he was definitely not living in poverty.
        <br>
        <span id="c-12"></span>
        <a href="#rfn-12">[12]</a>
        A surprisingly common fate for soldiers at the time (...)
        <br>
        <span id="c-13"></span>
        <a href="#rfn-13">[13]</a>
        Probably nothing pickled
        <br>
        <span id="c-14"></span>
        <a href="#rfn-14">[14]</a>
        She was a shaman, often participating in rituals involving singing and dancing
        <br>
        <span id="c-15"></span>
        <a href="#rfn-15">[15]</a>
        Needless to say, it would've made learning about Confucianism much more interesting if these songs survived
        <br>
        <span id="c-16"></span>
        <a href="#rfn-16">[16]</a>
        His philosophies strongly promote meritocracy
        <br>
        <span id="c-17"></span>
        <a href="#rfn-17">[17]</a>
        He stressed that 'citizens must first be provided to be able to live comfortably, and once they are comfortable, they must be educated.'
      </span>
    </div>

    <% include common/footer.ejs %>

  <% include common/footerincludes.ejs %>

</body>
</html>