<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>Noneo - The Analects of Confucius</title>
  <% include common/includes.ejs %>
</head>
<body>
	<% include common/nav.ejs %>
	

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>The Analects of Confucius</h1>
        <h2><small>Also Known as Lunyu (論語), or <strong>Noneo (논어)</strong> <br> 'Edited Conversations' between Confucius and his disciples</small></h2>
      </div>
      <div class="page-content">
        <div class="well">
          <blockquote>
            <i>"If one cherishes old knowledge, so as continually to be acquiring new, one may be a teacher to oneself."</i><footer>Confucius</footer>
          </blockquote>
        </div>
        <div class="well">
          <blockquote>
            <i>"One who believes all of a book would be better off without books"</i><footer>Mencius</footer>
          </blockquote>
        </div>
        <img class="img-responsive" src="images/heyan.jpg">
        <p>
          A copy of He Yan's <a href="#c-1" class="citation" title="He Yan (c. 195-249 AD) was a scholar who was part of a committee that produced influential commentary on the Analects, which collected, selected, summarized, and rationalized the most insightful of all preceding commentaries on the Analects that had been written by his time. He served under Cao Cao for Wei, one of the Three Kingdoms."><span id="rfn-1"></span>[1]</a> Commentary on the <i>Analects</i>, printed during the Ming Dynasty (1368-1644)
        </p>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            <strong>The Analects of Confucius</strong> is perhaps the most influencial text in Eastern Asian History. It is a collection of ideas and sayings attributed to the Chinese philosopher Confucius and his contemporaries, traditionally believed to have been written by Confucius' followers. It is believed to have been written during the Warring States period (475 BC - 221 BC), and it achieved its final form during the mid-Han dynasty (206 BC - 220 AD).
            <br>
            <a href="https://en.wikipedia.org/wiki/Analects"><span class="glyphicon glyphicon-link"></span> The Analects of Confucius on Wikipedia</a>
          </p>
          <p>
            <strong>Confucius</strong> (孔子, 공자) (551 BC - 479 BC), who is credited as the author of the Analects and the founder of Confucianism, was a Chinese teacher, politician and <strong>philosopher</strong>. Confucius emphasized personal and governmental morality, correctness of social relationships, justice and sincerity, and his ideas still pervade through the cultures of East Asian countries such as China, Japan, Vietnam and Korea. I am most familiar with the influence of Confucian values in the Korean culture.
            <br>
            <a href="https://en.wikipedia.org/wiki/Confucius"><span class="glyphicon glyphicon-link"></span> Confucius on Wikipedia</a>
          </p>
          <p>
            <h3>Recently Updated</h3>
            <ul>
              <li><a href="/1/1">1.1 : Learning is Pleasurable</a></li>
              <li><a href="/1/2">1.2 : Affection is based on Foundations</a></li>
            </ul>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
          <img class="img-responsive" src="images/sculpture.jpg">
        </div>
        <div class="col-sm-6 hidden-lg hidden-md hidden-xs">
          <img class="img-responsive" src="images/cropped.png">
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li class="next"><a href="/purpose">Purpose of the Noneo <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="container footnotes">
      <span class="footnote-list">
        <span id="c-1"></span>
        <a href="#rfn-1">[1]</a>
        <a href="https://en.wikipedia.org/wiki/He_Yan"><span class="glyphicon glyphicon-link"></span> He Yan</a> (c. 195-249 AD) was a scholar who was part of a committee that produced influential commentary on the Analects, which collected, selected, summarized, and rationalized the most insightful of all preceding commentaries on the Analects that had been written by his time. He served under Cao Cao for Wei, one of the Three Kingdoms.
      </span>
    </div>

    <% include common/footer.ejs %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>