<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>Introduction to the Noneo</title>
  <% include common/includes.ejs %>
</head>
<body>
	<% include common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Introduction</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            A great teacher has passed away. His family name Kong (孔), his personal name Qui (丘) - known by many today in the Latinized form, 'Confucius'.<a href="#c-1" class="citation" title="The only other Chinese philosopher known to Westerners by the Latinized form of the name is his most well-known disciple, Mencius - due to the first European interpreters of Chinese culture."><span id="rfn-1"></span>[1]</a> His teachings were magnificent and memorable, as was his life. The life of the master was not short, and there were countless valuable lessons he imparted. The disciples decide to collect his sayings and wisdom and compile it into a book - calling it 'Selected Speeches', or Analects.
          </p>
          <p>
            This text they were writing into strips of bamboo eventually surivive many generations and edits, to be compiled into 20 Chapters. The many outstanding interpretations and commentaries of the text by notable scholars throughout the rich Chinese history become as valuable as the original text itself. Today, the Analects is considered by many to be the authorative text of East Asian Philosophy, paralleling the Bible of the West in terms of social influence.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="30%" width="60%" src="images/confuciusdisciples.jpg">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>Content and Characteristics</h3>
          <p>
            The text is diffiult. A 2000 year old text that reads more like a collection of quotes rather than as a comprehensive literary work<a href="#c-2" class="citation" title="Such as Plato's Apology"><span id="rfn-2"></span>[2]</a> cannot help but be confusing. His sayings lack contextual elements, such as when, where, in what situation, in what way he imparted the saying to his disciples. Only the bare essences of his sayings remain<a href="#c-3" class="citation" title="It doesn't help that books were painfully expensive and time-taking to create in the ancient times."><span id="rfn-3"></span>[3]</a>, and therefore it is difficult to decipher the exact meaning, although many scholars throughout history have tried<a href="#c-4" class="citation" title="An Indiana University online resource on the Analects jokes about how the randomness of the Analects has provided 'gainful employment and opportunities for tenure' (page iv)."><span id="rfn-4"></span>[4]</a>.
          </p>
          <p>
            It does not help either that the ancient Chinese characters are <a href="purpose#c-9" title="Ancient Chinese characters are difficult to translate, because their meanings are more symbollic than semantic. For example, the original character for 'filial piety' (孝) is of the 'son' character (子) written beneath the 'senior' (耂) chracter to signify that the son is literally 'supporting' the senior.">vague</a>, which accounts for the various translations of even the damn title of the book in English. This is an issue not unique to English translations, all interpretations suffer from this ambiguity of the characters as well.
          </p>
          <p>
            Unlike Plato's works which paint a portrait of Socrates' life and philosophies through a countinuous series of dialogue and events, the Analects is a collection of miscellaneous sayings collected from different disciples, which adds more to the difficulty.
          </p>
          <p>
            Therefore, I have made an active effort to 'modernize' many of his philosophies and written commentary on how I have perceived many of Confucian values and teachings in the present-day society. An attempt has been made to interpret the literal terminology of Confucianism into more relatable ideas and notions better understood by modern society. The interpretations presented are not to be taken as the most popular or scholarly interpretations. Read more about the <a href="/purpose">purpose</a> to find out why I have decided to interpret such an ancient text.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="30%" width="60%" src="images/bamboo.png">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>Chapters</h3>
          <p>
            The Noneo consists of 20 chapters. The title of the chapters do not signifiy the thematic elements of the chapter, but instead is just the first characters of the Chapters (excluding the well-known 'As Confucius said,' 子曰). I have taken effort to name the Chapters by their biggest thematic elements, to make the chapters more memorable and appealing to read.
          </p>
          <p>
            The first 10 chapters are commonly referred to as the "upper text", and the last 10 chapters as the "lower text". There is a notable distinction between the upper and lower texts, in terms of literary style and estimated dates of writing. The upper text is composed of passages that are short and brief, while the lower text is composed of passages that are long and wordy. Most historical estimates agree that the upper texts were written first, and have greater valilidity of actual Confucian teachings. For the purposes of the Noneo, there are valuable lessons and memorable quotes to be taken away from both the upper and lower texts equally.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>Original Text and Translations</h3>
          <p>
            In each passage, you can click the 'Original Chinese' button to view the original text of the Analects. This text has been taken from the <a href="http://ctext.org/analects"><span class="glyphicon glyphicon-link"></span> Chinese Text Project</a> website.
          </p>
          <p>
            You can also click the 'Legge Translation' button to view the translations of <a href="https://en.wikipedia.org/wiki/James_Legge"><span class="glyphicon glyphicon-link"></span> James Legge</a>, a Scottish sinologist. His translations were chosen over numerous and various others.
          </p>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li class="previous"><a href="/purpose"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Purpose of the Noneo</a></li>
          <li class="next"><a href="/1">Chapter 1 - "On Learning" <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="container footnotes">
      <span class="footnote-list">
        <span id="c-1"></span>
        <a href="#rfn-1">[1]</a>
        The only other Chinese philosopher known to Westerners by the Latinized form of the name is his most well-known disciple, <a href="https://en.wikipedia.org/wiki/Mencius"><span class="glyphicon glyphicon-link"></span> Mencius</a> - due to the first European interpreters of Chinese culture.
        <br>
        <span id="c-2"></span>
        <a href="#rfn-2">[2]</a>
        Such as Plato's <a href="https://en.wikipedia.org/wiki/Apology_%28Plato%29"><span class="glyphicon glyphicon-link"></span> Apology</a>
        <br>
        <span id="c-3"></span>
        <a href="#rfn-3">[3]</a>
        It doesn't help that books were painfully expensive and time-taking to create in the ancient times.
        <br>
        <span id="c-4"></span>
        <a href="#rfn-4">[4]</a>
        An <a href="http://www.indiana.edu/~p374/Analects_of_Confucius_%28Eno-2015%29.pdf"><span class="glyphicon glyphicon-link"></span> Indiana University online resource on the Analects</a> jokes about how the randomness of the Analects has provided 'gainful employment and opportunities for tenure' (page iv).
        <br>
      </span>
    </div>

    <% include common/footer.ejs %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>