<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>Introduction to the Noneo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/stickyfooter.css">
</head>
<body>
	<% include common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Introduction</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            A great teacher has passed away, his family name Kong (孔), his personal name Qui (丘) - known by many today in the Latinized form, 'Confucius'. His teachings were magnificent and memorable, as was his life. The life of the master was not short, and there are countless valuable lessons he imparted. The disciples decide to collect his sayings and wisdom and compile it into a book - calling it 'Selected Speeches', or Analects.
          </p>
          <p>
            This text they were writing into strips of bamboo eventually surivive many generations and edits, to be compiled into 20 Chapters. The many interpretations and commentaries of the text by well-known scholars throughout the rich Chinese history become as valuable as the original text itself. Today, the Analects is considered by many to be the authorative text of East Asian Philosophy, paralleling the Bible of the West in terms of social influence.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="30%" width="60%" src="images/confuciusdisciples.jpg">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>Content and Characteristics</h3>
          <p>
            The text is diffiult. A 2000 year old text that reads more like a collection of quotes rather than as a comprehensive literary work (such as Plato's Apology) cannot help but be confusing. His sayings lack contextual elements, such as when, where, in what situation, in what way he imparted the saying to his disciples. Only the bare essences of his sayings remain (it doesn't help that books were painfully expensive and time-taking to create in the ancient times), and therefore it is difficult to decipher the exact meaning, although many scholars throughout history have tried.
          </p>
          <p>
            It does not help either that the ancient Chinese characters are vague (as they are more symbollic than semantic in meaning), which accounts for the many translations of even the damn title of the book accurately into English. 
          </p>
          <p>
            Unlike Plato's works which paint a portrait of Socrates' life and philosophies through a countinuous series of dialogue and events, the Analects is a collection of miscellaneous sayings collected from different disciples, which adds to the difficulty.
          </p>
          <p>
            Therefore, I have made an effort to 'modernize' many of his philosophies and written commentary on how I have perceived many of Confucian values and teachings in the present-day society. The interpretations presented are not to be taken as the most popular interpretations, or as commentary most relevant to Confucius' society at the time of writing the Analects. Read more about the <a href="/purpose">purpose</a> of the <a href="/">Noneo</a> to find out why I have decided to interpret such an ancient text.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="30%" width="60%" src="images/bamboo.png">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>Chapters</h3>
          <p>
            The Noneo consists of 20 chapters. The title of the chapters do not signifiy the thematic elements of the chapter, but instead is just the first characters of the Chapters (excluding the well-known 'As Confucius said,' 子曰). I have taken effort to name the Chapters by their biggest thematic elements, to make the chapters more memorable and appealing to read.
          </p>
          <p>
            The first 10 chapters are commonly referred to as the "upper text", and the last 10 chapters as the "lower text". There is a notable distinction between the upper and lower texts, in terms of literary style and estimated dates of writing. The upper text is composed of passages that are short and brief, while the lower text is composed of passages that are long and wordy. Most historical estimates agree that the upper texts were written first, and have greater valilidity of actual Confucian teachings. For the purposes of the Noneo, there are valuable lessons and memorable quotes to be taken away from both the upper and lower texts equally.
          </p>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li class="previous"><a href="/purpose"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Purpose of the Noneo</a></li>
          <li class="next"><a href="/1">Chapter 1 - "On Learning" <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>

    <% include common/footer.ejs %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>