<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>Purpose of the Noneo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/stickyfooter.css">
</head>
<body>
	<% include common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Purpose</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            I wish to make the philosophies of Confucius more widespread as I believe that by striving to understand the ancient philosophies of cultures, we can better understand ideas that are the unseen foundations of our societies and our ways of thinking.<a href="#c-1" class="citation" title="Think of Western philosophers that laid foundations for extensive political theories such as Rene Descartes - and how his most famous quote 'I think, therefore I am' has become the motto for existentialism. Now imagine that an entire homogeneous ethnic group identified themselves as 'existentialists', and what a figure Descartes would be to those people. That is the way East Asians view Confucius."><span id="rfn-1"></span>[1]</a><a href="#c-2" class="citation" title="If you are interested in learning about different cultures, start by learning the major philosophies or religions."><span id="rfn-2"></span>[2]</a>
          </p>
          <p>
            Just as modern English translations of the Bible are often published to help modern day Christians incorporate the very old Christian ethics into their lifestyles, I believe that a modern interpretation<a href="#c-3" class="citation" title="By 'modern interpretation', I mean a truly modern one where the main purpose is to help make understood the philosophies presented in the Analects to the average reader in the context of present-day values and ideas, and not as a study of history. Therefore, the commentary that's presented is not to be taken as the most-accepted interpretation, or even the most popular. In essence, I am not analyzing the passages through a well-conducted academic research, but rather synthesizing the ancient text through my own experiences and philosophies."><span id="rfn-3"></span>[3]</a> of the ancient Analects text will help us understand the timeless philosophies and truths that ancient scholars have studied and encouraged.
          </p>
          <p>
            A common impression of the Confucian philosophies in the Western world is of 'mystic sayings' that don't have much application or relevance in the modern world. However, just as Plato's Allegory of the Cave<a href="#c-4" class="citation" title="Or my preferred form, the Allegory of the Line"><span id="rfn-4"></span>[4]</a> has applications on society today<a href="#c-5" class="citation" title="Consider the differences between people who only follow the most popular (state-sponsored) news outlets and take their reporting to be the absolute facts, versus people who recognize the potential biases and unspoken motivations of every news outlet and attempt to conduct their own research into truth."><span id="rfn-5"></span>[5]</a>, many of Confucian values are still not only presented as metaphors but are notably present in the minds of many modern Eastern Asians. These philosophies may help explain the notable hierarchies that exist in Japanese and Korean societies<a href="#c-6" class="citation" title="And also why ancient China, Japan, and Korea historically have had significantly less conflicts than European countries despite obvious imbalances in power."><span id="rfn-6"></span>[6]</a>, and why unemployment in Korea is at an all time high due to the large surplus of University degrees<a href="#c-7" class="citation" title="Confucian teachings encourage personal skill (meritocracy) and 'nobility' by virtue - not for personal gain, but because he identified that you could serve as a role-model for great personal ethics to a wider range of people if you yourself was obviously respected and distinguished in society."><span id="rfn-7"></span>[7]</a>. While these examples may serve to convince the reader of the negative effects of Confucian values, these values are simply an outcome of the oversimplification and misunderstanding of the true Confucian values which is why I also believe it to be an important task to reiterate the outdated interpretations to be relevant for the complex, modern society.
          </p>
          <p>
            In reality, the Confucian values have tremendous positive effects on society if interpreted correctly into an individual's value system. Confucius made the Golden Rule (do unto others as you would have them do unto you) the only centerpiece of his philosophy on life. But Conficius even in his time acknowledged that the path to virtuous living is hard, and it is seldom that you meet those living by worldly ethics instead of personal greed.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="200" width="200" src="images/nursememe.jpg">
          <a href="#c-8" class="citation" title="How young Westerners may first encounter Confucius"><span id="rfn-8"></span>[8]</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>Why is this website called The Noneo?</h3>
          <p>
            <strong>The Noneo</strong> is the Korean literal translation of the original Chinese character name of the Analects, which is Lunyu (論語). The two Chinese characters are transcribed as such:
          </p>
          <p class="lead">
            English: The Analects of Confucius
          </p>
          <p class="lead">
            Traditional Chinese: 論語 lúnyǔ
          </p>
          <p class="lead">
            Korean: 논어 noneo
          </p>
          <p>
            While the most commonly cited translation in English of 論語/논어 is <i>'Edited Conversations'</i>, the 論/논 character can be translated as 'Discuss/Debate' and the 語/어 character translated as 'Conversation'. The actual literal translations are more accurately <i>'Discussed Conversations'</i>. The <i>'Edited Conversations'</i> translation comes from the effort to more accurately describe the fact that Confucius' disciples edited the conversations they had and compiled it into a literary work, as most modern scholars agree that Confucius is not the author of the Analects in the traditional sense of the word. It is comparable to how Socrates never wrote down any of his ideas either, but he is cited for his philosophies as recorded by his disciple, Plato.
          </p>
          <p>
            While I am familiar with the reading of the Chinese characters, the language I am most familiar with the Analects is in Korean. I have learned about Confucius and his ethics in the Korean language, and have spent the most time observing them in the South Korean culture.
          </p>
          <p>
            From this point on, I will use the term 'Noneo' when I am referring to this website and its interpretations, and use the term 'Analects' when I am referring to the original text. It is to differentiate from the many more traditional and popular interpretations that exist of the Analects, as I am more of a philosopher and synthesizer rather than a researcher or historian.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="60%" width="50%" src="images/noneopyoji.jpg">
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li class="previous"><a href="/"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Home</a></li>
          <li class="next"><a href="/introduction">Introduction to the Noneo <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="container footnotes">
      <span class="footnote-list">
        <span id="c-1"></span>
        <a href="#rfn-1">[1]</a>
        Think of Western philosophers that laid foundations for extensive political theories such as Rene Descartes - and how his most famous quote 'I think, therefore I am' has become the motto for existentialism. Now imagine that an entire homogeneous ethnic group identified themselves as 'existentialists', and what a figure Descartes would be to those people. That is the way East Asians view Confucius.
        <br>
        <span id="c-2"></span>
        <a href="#rfn-2">[2]</a>
        If you are interested in learning about different cultures, start by learning the major philosophies or religions.
        <br>
        <span id="c-3"></span>
        <a href="#rfn-3">[3]</a>
        By 'modern interpretation', I mean a truly modern one where the main purpose is to help make understood the philosophies presented in the Analects to the average reader in the context of present-day values and ideas, and not as a study of history. Therefore, the commentary that's presented is not to be taken as the most-accepted interpretation, or even the most popular. In essence, I am not analyzing the passages through a well-conducted academic research, but rather synthesizing the ancient text through my own experiences and philosophies.
        <br>
        <span id="c-4"></span>
        <a href="#rfn-4">[4]</a>
        Or my preferred form, the <a href="https://en.wikipedia.org/wiki/Analogy_of_the_divided_line">Allegory of the Line</a>.
        <br>
        <span id="c-5"></span>
        <a href="#rfn-5">[5]</a>
        Consider the differences between people who only follow the most popular (state-sponsored) news outlets and take their reporting to be the absolute facts, versus people who recognize the potential biases and unspoken motivations of every news outlet and attempt to conduct their own research into truth.
        <br>
        <span id="c-6"></span>
        <a href="#rfn-6">[6]</a>
        And also why ancient China, Japan, and Korea historically have had significantly less conflicts than European countries despite obvious imbalances in power.
        <br>
        <span id="c-7"></span>
        <a href="#rfn-7">[7]</a>
        Confucian teachings encourage personal skill (meritocracy) and 'nobility' by virtue - not for personal gain, but because he identified that you could serve as a role-model for great personal ethics to a wider range of people if you yourself was obviously respected and distinguished in society.
        <br>
        <span id="c-8"></span>
        <a href="#rfn-8">[8]</a>
        How young Westerners may first encounter Confucius
      </span>
    </div>

    <% include common/footer.ejs %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>