<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<title>Purpose of the Noneo</title>
  <% include common/includes.ejs %>
</head>
<body>
	<% include common/nav.ejs %>
    <!-- Begin page content -->
    <div class="container">
      <div class="quote">
        <blockquote>
          <i>"Culture makes people understand each other better. And if they understand each other better in their soul, it is easier to overcome the economic and political barriers. But first they have to understand that their neighbour is, in the end, just like them, with the same problems, the same questions."</i><footer>Paulo Coelho</footer>
        </blockquote>
      </div>
      <div class="page-header">
        <h1>Purpose</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p>
            I wish to make the philosophies of Confucius more accessible and understood to a wide audience. By striving to understand the ancient philosophies of cultures, we can better understand ideas that are the unseen ideological foundations of societies.<a href="#c-1" class="citation" title="Think of Western philosophers that laid foundations for extensive political theories such as Rene Descartes - and how his most famous quote 'I think, therefore I am' has become the motto for existentialism. Now imagine that a vast majority of a homogeneous ethnic group identified themselves as 'existentialists', and what a figure Descartes would be to those people. That is the way East Asians view Confucius."><span id="rfn-1"></span>[1]</a><a href="#c-2" class="citation" title="If you are interested in learning about different cultures, start by learning the major philosophies or religions."><span id="rfn-2"></span>[2]</a>
          </p>
          <p>
            Just as modern English translations of the Bible are published periodically to help modern day Christians understand Christian ethics, a modern interpretation<a href="#c-3" class="citation" title="By 'modern interpretation', I mean a truly modern one where the main purpose is to help make understood the philosophies presented in the Analects to the average reader in the context of present-day values and ideas, and not as a study of history. Therefore, the commentary that's presented is not to be taken as the most-accepted interpretation, or even the most popular. In essence, I am not analyzing the passages through a well-conducted academic research, but rather synthesizing the ancient text through my own experiences and philosophies."><span id="rfn-3"></span>[3]</a> of the passages contained in the Analects of Confucius will help our society understand the timeless philosophies and truths that ancient scholars have studied and taught.
          </p>
          <p>
            A common impression of the Confucian philosophies in the Western world is of 'mystic sayings' that don't have much application or relevance in the modern world. However, just as Plato's Allegory of the Cave<a href="#c-4" class="citation" title="Or my preferred form, the Allegory of the Divided Line"><span id="rfn-4"></span>[4]</a> has applications on society today<a href="#c-5" class="citation" title="Consider the differences between people who only follow the most popular (state-sponsored) news outlets and take their reporting to be the absolute facts, versus people who recognize the potential biases and unspoken motivations of every news outlet and attempt to conduct their own research into truth."><span id="rfn-5"></span>[5]</a>, many of Confucian values are not only presented as metaphors but are deeply ingrained in the minds of many contemporary Eastern Asians, as clearly evident in many aspects of society. These philosophies explain the observable hierarchies that have been documented in Japanese and Korean societies<a href="#c-6" class="citation" title="And also why ancient China, Japan, and Korea historically have had significantly less conflicts than European countries despite obvious imbalances in power."><span id="rfn-6"></span>[6]</a>, and also sheds insight into why unemployment in Korea is a serious concern due to an over abundance of University degrees<a href="#c-7" class="citation" title="Confucian teachings encourage personal skill (meritocracy) and 'nobility' by virtue - not for personal gain, but because he identified that you could serve as a role-model for great personal ethics to a wider range of people if you yourself was obviously respected and distinguished in society."><span id="rfn-7"></span>[7]</a>. Perhaps most controversially to a Western reader, the North Korean philosophy <a href="https://en.wikipedia.org/wiki/Juche"><span class="glyphicon glyphicon-link"></span> Juche</a> shares many similarities with Confucianism. While these examples may be seen as proof of the negative effects of Confucian values surviving today, these values are simply an outcome of the oversimplification and misunderstanding of the true Confucian values - which is why it is an important task to reiterate the outdated interpretations to be relevant for the complex, modern society.
          </p>
          <p>
            In reality, the Confucian values have positive effects on society if interpreted correctly into an individual's value system, and shares many similarities with Buddhism, a more mainstream school of thought.
          </p>
          <p>
            Confucius acknowledged even in his lifetime that the path to a virtuous life is difficult, and it is seldom that you meet those living by worldly ethics instead of personal greed. Nonetheless, he was convinced that it was the best, if not the only way for humans to live.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img height="200" width="200" src="images/nursememe.jpg">
          <a href="#c-8" class="citation" title="How some Westerners may first encounter Confucius"><span id="rfn-8"></span>[8]</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h3>What is The Noneo?</h3>
          <p>
            <strong>The Noneo</strong> is the Korean literal translation of the original Chinese character name of the Analects, which is Lunyu (論語). The Chinese characters are transcribed as such:
          </p>
          <p class="lead">
            English: The Analects of Confucius
          </p>
          <p class="lead">
            Traditional Chinese: 論語 lúnyǔ
          </p>
          <p class="lead">
            Korean: 논어 noneo <small>(pronounced as /noʊn ə/ or 'non-uh')</small>
          </p>
          <p>
            While the most commonly cited English translation of the 論語/논어 is <i>'Edited Conversations'</i>, the 論/논 character can be translated as 'Discuss/Debate' and the 語/어 character translated as 'Conversation'. <a href="#c-9" class="citation" title="Ancient Chinese characters are difficult to translate, because their meanings are more symbollic than semantic. For example, the original character for 'filial piety' (孝) is of the 'son' character (子) written beneath the 'senior' (耂) chracter to signify that the son is literally 'supporting' the senior."><span id="rfn-9"></span>[9]</a><a href="#c-10" class="citation" title="Observant readers will notice that there is a 1 to 1 translation from the Ancient Chinese characters to Korean characters going on here. This is true for most Ancient Chinese characters."><span id="rfn-10"></span>[10]</a>  The actual literal translations are more accurately <i>'Discussed Conversations'</i>. The <i>'Edited Conversations'</i> translation comes from the effort to note the fact that Confucius' disciples edited the conversations they had and compiled it into a literary work, as most modern scholars agree that Confucius is not the author of the Analects in the traditional sense of the word. It is comparable to how Socrates never wrote down any of his ideas either, but he is cited for his philosophies as recorded by his disciple, Plato.
          </p>
          <p>
            For simplicity, 'Noneo' refers to this website and its interpretations and commentary, and the term 'Analects' refers to the original text.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <img src="images/noneopyoji.jpg">
          <a href="#c-1" class="citation" title="A typical Korean Confucian book"><span id="rfn-11"></span>[11]</a>
        </div>
      </div>
    </div>
    <div class="container pagers">
      <nav>
        <ul class="pager">
          <li><a href="" onclick="window.scroll(0,1);"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span><br>Purpose</a></li>
        </ul>
        <ul class="pager">
          <li class="previous"><a href="/"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Home</a></li>
          <li class="next"><a href="/confucius">Confucius <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="container footnotes">
      <span class="footnote-list">
        <span id="c-1"></span>
        <a href="#rfn-1">[1]</a>
        Think of Western philosophers that laid foundations for extensive political theories such as Rene Descartes - and how his most famous quote 'I think, therefore I am' has become the motto for existentialism. Now imagine that a vast majority of a homogeneous ethnic group identified themselves as 'existentialists', and what a figure Descartes would be to those people. That is the way East Asians view Confucius.
        <br>
        <span id="c-2"></span>
        <a href="#rfn-2">[2]</a>
        If you are interested in learning about different cultures, start by learning the major philosophies or religions.
        <br>
        <span id="c-3"></span>
        <a href="#rfn-3">[3]</a>
        By 'modern interpretation', I mean a truly modern one where the main purpose is to help make understood the philosophies presented in the Analects to the average reader in the context of present-day values and ideas, and not as a study of history. Therefore, the commentary that's presented is not to be taken as the most-accepted interpretation, or even the most popular. In essence, I am not analyzing the passages through a well-conducted academic research, but rather synthesizing the ancient text through my own experiences and philosophies.
        <br>
        <span id="c-4"></span>
        <a href="#rfn-4">[4]</a>
        Or my preferred form, the <a href="https://en.wikipedia.org/wiki/Analogy_of_the_divided_line"><span class="glyphicon glyphicon-link"></span> Allegory of the Divided Line</a>.
        <br>
        <span id="c-5"></span>
        <a href="#rfn-5">[5]</a>
        Consider the differences between people who only follow the most popular (state-sponsored) news outlets and take their reporting to be the absolute facts, versus people who recognize the potential biases and unspoken motivations of every news outlet and attempt to conduct their own research into truth.
        <br>
        <span id="c-6"></span>
        <a href="#rfn-6">[6]</a>
        And also why ancient China, Japan, and Korea historically have had significantly less conflicts than European countries despite obvious imbalances in power.
        <br>
        <span id="c-7"></span>
        <a href="#rfn-7">[7]</a>
        Confucian teachings encourage personal skill (meritocracy) and 'nobility' by virtue - not for personal gain, but because he identified that you could serve as a role-model for great personal ethics to a wider range of people if you yourself was obviously respected and distinguished in society.
        <br>
        <span id="c-8"></span>
        <a href="#rfn-8">[8]</a>
        How some Westerners may first encounter Confucius
        <br>
        <span id="c-9"></span>
        <a href="#rfn-9">[9]</a>
        Ancient Chinese characters are difficult to translate, because their meanings are more symbollic than semantic. For example, the original character for '<a href="https://en.wikipedia.org/wiki/Filial_piety"><span class="glyphicon glyphicon-link"></span> filial piety</a>' (孝) is of the 'son' character (子) written beneath the 'senior' (耂) chracter to signify that the son is literally 'supporting' the senior.
        <br>
        <span id="c-10"></span>
        <a href="#rfn-10">[10]</a>
        Observant readers will notice that there is a 1 to 1 translation from the Ancient Chinese characters to Korean characters going on here. This is true for most Ancient Chinese characters.
        <br>
        <span id="c-11"></span>
        <a href="#rfn-11">[11]</a>
        A typical Korean Confucian book
      </span>
    </div>

    <% include common/footer.ejs %>

  <% include common/footerincludes.ejs %>

</body>
</html>