<div class="list-group" id="sidebar">
  <a href="/1/1" class="list-group-item">
    1.1 Learning is Pleasurable
  </a>
  <a href="/1/2" class="list-group-item">
    1.2 Affection is Foundational
  </a>
  <a href="/1/3" class="list-group-item">
    1.3 Embellishment is Rarely Veracious
  </a>
  <a href="#" class="list-group-item">
    1.4 Three Self-Reflections
  </a>
  <a href="#" class="list-group-item">
    1.5 The Make of a Ruler
  </a>
  <a href="#" class="list-group-item">
    1.6 Behaviours of Benevolence
  </a>
  <a href="#" class="list-group-item">
    1.7 The Learned Person
  </a>
  <a href="#" class="list-group-item">
    1.8 Constantly Improve Yourself
  </a>
  <a href="#" class="list-group-item">
    1.9 Respect for Parents
  </a>
  <a href="#" class="list-group-item">
    1.10 Comfort does not Equate Learning
  </a>
  <a href="#" class="list-group-item">
    1.11 To be Poor and Rich
  </a>
  <a href="#" class="list-group-item">
    1.12 Recognition of Merits
  </a>
</div>