    <footer class="footer">
      <br>
      <br>
      <div class="container text-center">
      	<a class="btn btn-warning">Subscribe</a>
      	<br>
      	<br>
        <p class="text-muted">The NonEo 2016</p>
      </div>
    </footer>